

<div class="container">
    <h3>Pagamento de salários</h3>

    <p-table 
        [value]="payrolls" 
        [paginator]="true" 
        (onLazyLoad)="onChangePage($event)" 
        [rows]="filter.itemsPerPage" 
        [lazy]="true" 
        [totalRecords]="totalRecords" 
        styleClass="p-datatable-sm" 
        #table>
        
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton icon="pi pi-plus" (click)="onAddNewPayroll()" style="background-color: #63c05a; border-style: none;"></button> 
                <button type="button" (click)="onFilter()" pButton pRipple icon="pi pi-filter" style="background-color: #1c80cf; border-style: none;" class="ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Mês de referência</th>
                <th>Data de lançamento</th>
                <th>Descrição</th>
                <th>Ações</th>       
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payroll>
            <tr>
                <td> {{ payroll.referenceMonth  | date: 'MM/yyyy'}} </td>
                <td> {{ payroll.releaseDate  | date: 'dd/MM/yyyy h:mm a'}} </td>
                <td> {{ payroll.description }} </td>
                <td style="width: 180px;">
                    <button pButton pTooltip="Edit" (click)="onSelectPayroll(payroll)" tooltipPosition="top" type="button" icon="pi pi-eye" style="background-color: #1c80cf; color: #fff; border-color: #1c80cf; height: 30px;"></button>&nbsp;
                    <button pButton pTooltip="Delete" (click)="deletionConfirm(payroll)" tooltipPosition="top" type="button" icon="pi pi-trash" style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="10">
                <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span> 
                <span *ngIf="!showLoading">No title found </span> 
                <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                <a href="javascript:;">
                <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="filterPayrolls(0)" pTooltip="Refresh" class="pi pi-refresh"></i>
                </a>                  
            </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<!--Filtrar-->
<p-dialog [header]=" 'Filtros' " [(visible)]="displayModalFilter" [style]="{width: '33vw'}" [modal]="true"> 

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Itens por página</label>
                <p-dropdown [options]="sizePage" placeholder="Sort by..."
                ngModel name="itemsPerPage" [(ngModel)]="filter.itemsPerPage" (onChange)="filterPayrolls()"></p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Ordenação</label>
                <p-dropdown [options]="orderPage" placeholder="Sort by..."
                ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="filterPayrolls()"></p-dropdown>
            </div>
        </div>

        <div class="col-12 md-12 p-fluid" style="margin-top: 2%;">
            <label>Mês de referência</label>
            <p-calendar class="p-inputtext-sm" name="date" view="month" dateFormat="mm/yy" placeholder="Mês de referênia (mês/ano)"
            [inputStyle]="{ 'width': '100px'}" [showIcon]="true" [showOnFocus]="false" name="date"
              [inline]="false" [readonlyInput]="false" 
              ngModel #birthday="ngModel" [required]="true"></p-calendar>
        </div>

        <div class="col-12 md-12 p-fluid" style="margin-top: 2%;">
            <label>Data de lançamento</label>
            <p-calendar class="p-inputtext-sm" name="date" dateFormat="dd/mm/yy" placeholder="Data de lançamento (dia/mês/ano)"
            [inputStyle]="{ 'width': '100px'}" [showOnFocus]="false" name="endDate"
              [inline]="false" [readonlyInput]="false" [showIcon]="true"
              ngModel #endDate="ngModel" [required]="true"></p-calendar>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <button pButton type="submit" label="Reset" style="height: 30px; margin-top: 1%;"></button>
        </div>
    </div> 

</p-dialog>  

<!--View-->
<p-dialog header="{{payroll.description}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #payrollForm="ngForm" (ngSubmit)="save(payrollForm)">
        <div class="formgrid grid">

            <div class="col-12 md-12 p-fluid">
                <p-table 
                    [value]="payroll.payments" 
                    [(selection)]="selectedPayrolls" 
                    [lazy]="true" 
                    styleClass="p-datatable-sm" 
                    #table>
        
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <input pInputText class="p-inputtext-sm" type="text" name="description" placeholder="Descrição Ex: folha de salário do mês de abril"
                            ngModel #description="ngModel" required minlength="1" [(ngModel)]="payroll.description"> 
                            <p-calendar class="p-inputtext-sm" name="referenceMonth" view="month" dateFormat="mm/yy" placeholder="Mês de referênia"
                                [inputStyle]="{ 'width': '100px'}" [showIcon]="true" [showOnFocus]="false" name="referenceMonth"
                                [inline]="false" [readonlyInput]="false" 
                                ngModel #birthday="ngModel" [required]="true"[(ngModel)]="payroll.referenceMonth" >
                            </p-calendar>
                            <button pButton icon="pi pi-save" type="submit" [disabled]="payrollForm.invalid" class="ml-auto" style="background-color: #677377; border-style: none;"></button>      
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Salário Bruto</th>
                            <th>IRPS</th>
                            <th>INSS (3%)</th>
                            <th>Salário liquido</th>     
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-payment>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="payment"></p-tableCheckbox>
                            </td>
                            <td>{{ payment.employee.name }}</td>
                            <td>{{ payment.employee.position.name }}</td>
                            <td>{{ payment.employee.wageValue }}</td>
                            <td>{{ 0 }}</td>
                            <td>{{ payment.employee.wageValue * 0.03}}</td>
                            <td>{{ payment.employee.wageValue - payment.employee.wageValue * 0.03 }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                        <td colspan="10">
                            <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span> 
                            <span *ngIf="!showLoading">No title found </span> 
                            <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                            <a href="javascript:;">
                            <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="filterPayrolls(0)" pTooltip="Refresh" class="pi pi-refresh"></i>
                            </a>                  
                        </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>  
    </form>
</p-dialog>