<h5 class="text-center">Ficheiros</h5>

<div class="container">
    <p-table [value]="filesList" [(selection)]="selectedFiles" [paginator]="true" [rows]="10"
        styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton pRipple label="Upload" (click)="onAddNewFile()" icon="pi pi-upload"
                    class="p-button-primmary mr-2"></button>
                <button *ngIf="selectedFiles.length" label="Delete" pButton pRipple icon="pi pi-trash" class="p-button-danger mr-2"
                    (click)="severalDeleteConfirm()"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="filter.prefix" name="prefix" pInputText type="text" placeholder="Pesquisa"
                        (ngModelChange)="getFiles()" />
                </span>
                <button type="button" disabled pButton pRipple icon="pi pi-filter" class="ml-auto"
                    pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Name</th>
                <th>Type</th>
                <th>Last Modified</th>
                <th>Size</th>
                <th>Bucket Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s3Oject>
            <tr [pSelectableRow]="s3Oject">
                <td>
                    <p-tableCheckbox [value]="s3Oject"></p-tableCheckbox>
                </td>
                <td style="color: #404C51; font-weight: bold;">
                    <i class="pi pi-file" style="font-size: 1rem; color: #1c80cf;"></i>
                    {{ s3Oject.key }}
                </td>
                <td>{{ obterTipoArquivo(s3Oject.key) }}</td>
                <td>{{ s3Oject.lastModified | date: 'MMM d, y, h:mm:ss a' }}</td>
                <td>{{formatarTamanhoArquivo(s3Oject.size)}}</td>
                <td>{{ s3Oject.bucketName }}</td>
                <td style="width: 180px;">
                    <span class="p-buttonset mr-auto">
                        <button pTooltip="Download" (click)="download(s3Oject.key)" tooltipPosition="top" pButton
                            type="button" icon="pi pi-download" style="height: 30px;"></button>
                        <button pButton pTooltip="Delete" (click)="deletionConfirm(s3Oject.key)" tooltipPosition="top"
                            type="button" icon="pi pi-trash"
                            style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">
                    <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span>
                    <span *ngIf="!showLoading">No S3 file found </span>
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                    <a href="javascript:;">
                        <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="getFiles()" pTooltip="Refresh"
                            class="pi pi-refresh"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Ficheiro" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '45vw'}" [draggable]="false"
    [resizable]="false">
    <form enctype="multipart/form-data">
        <div *ngIf="!showLoading">
            <fieldset>
                <div class="form-group">
                    <div>
                        <input type="file" (change)="onFileSelected($event)" name="files" multiple
                            class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>

        <p-progressBar *ngIf="showLoading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>

        <div class="col-12 p-fluid" style="margin-top: 15px;">
            <button (click)="onUploadFile()" pButton type="button" label="Salvar">
                <span *ngIf="showLoading">Loading...</span>
            </button>
        </div>
    </form>
</p-dialog>