
<div class="container">
    <h5 style="text-align: center;">Avaliação de desenpenho</h5>

    <div class="p-inputgroup" style="width: 40%">
        <input [(ngModel)]="filter.property" name="property" type="text" pInputText placeholder="Search" (ngModelChange)="getPerformanceEvaluations()">        
    </div>

    <br>

    <button (click)="onAddNewPerformanceEvaluation()" pButton class="p-button-sm" label="Nova posição +" style="height: 30px; width: 182px; background-color: #63c05a; border-style: none; margin-top: -5%;"></button>

    <br>
    <br>

    <div>
        <p-dropdown [options]="orderPage" placeholder="Sort by..." [filter]="true"
        ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getPerformanceEvaluations()"></p-dropdown>
    </div>

    <br>

    <p-table [value]="performanceEvaluations" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" #table>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">ID</th>
                <th style="background-color: #fff;">Nome da posição</th>
                <th style="background-color: #fff;">Competências</th>
                <th style="background-color: #fff;">Nivel de proficiência</th>
                <th style="background-color: #fff;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pe>
            <tr>
                <td>{{ pe.id }}</td>
                <td>{{ pe.position.name }}</td>
                <td>{{ pe.skill.name }}</td>
                <td>{{ pe.proficiencyLevel }}</td>
                <td>
                    <button pButton pTooltip="Edit" (click)="onEditPerformanceEvaluation(pe)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #5b6063; border-color: #5b6063;"></button>&nbsp;
                    <button pButton (click)="deletionConfirm(pe)" pTooltip="Delete" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #5b6063; border-color: #5b6063;"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div style="display:inline; float: left; margin-top: 1%;">
        <p-selectButton [options]="sizePage" [(ngModel)]="filter.itemsPerPage" (onChange)="getPerformanceEvaluations()"></p-selectButton> 
    </div>

</div>

<p-dialog header="Avaliação de performance {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '30vw', height: '40vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #performanceEvaluationForm="ngForm" (ngSubmit)="save(performanceEvaluationForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Proficiency Level</label>
                <input pInputText class="p-inputtext-sm" type="text" name="proficiencyLevel"
                    ngModel #proficiencyLevel="ngModel" required minlength="1" [(ngModel)]="performanceEvaluation.proficiencyLevel">  
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Skills</label>
                <p-dropdown class="p-inputtext-sm" [options]="skills" placeholder="Selecione" [filter]="true"
                    name="skill" #skill ngModel [(ngModel)]="performanceEvaluation.skill.id"></p-dropdown>
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Positions</label>
                <p-dropdown class="p-inputtext-sm" [options]="positions" placeholder="Selecione" [filter]="true"
                    name="skill" #skill ngModel [(ngModel)]="performanceEvaluation.position.id"></p-dropdown>
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="performanceEvaluationForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
              </div>
        </div>
      
    </form>
</p-dialog>