<div class="container">
    <h5 style="text-align: center;">Projectos</h5>

    <p-table [value]="projects" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <button (click)="onAddNewProject()" pButton icon="pi pi-plus" style="background-color: #63c05a; border-style: none;"></button> 
                <button type="button" (click)="onFilter()" pButton pRipple icon="pi pi-filter" style="background-color: #1c80cf; border-style: none;" class="ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">Nome</th>
                <th style="background-color: #fff;">Departamento</th>
                <th style="background-color: #fff;">Status</th>
                <th style="background-color: #fff;">Ações</th>       
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.department.name }}</td>
                <td>
                    <span *ngIf="project.projectStatus==='APPROVED'" style="color:#fff; background-color: #63c05a; border-radius: 4%; height: 50px;">&nbsp; aprovado &nbsp;</span>
                    <span *ngIf="project.projectStatus==='CANCELED'" style="color:#fff; background-color: #e96969; border-radius: 4%;">&nbsp; cancelado &nbsp;</span>
                    <span *ngIf="project.projectStatus==='CONCLUDED'" style="color:#fff; background-color: #1c80cf; border-radius: 4%; height: 50px;">&nbsp; concluído &nbsp;</span>
                    <span *ngIf="project.projectStatus==='PENDING'" style="color:#999c4d; background-color: whitesmoke; border-radius: 4%;">&nbsp; pendente &nbsp;</span>
                    <span *ngIf="project.projectStatus==='IN_TEST'" style="color:#28be1a; background-color: whitesmoke; border-radius: 4%; height: 50px;">&nbsp; em_teste &nbsp;</span>
                    <span *ngIf="project.projectStatus==='IN_PROGRESS'" style="color:#1c80cf; background-color: whitesmoke; border-radius: 4%;">&nbsp; em_andamento &nbsp;</span>
                    <span *ngIf="project.projectStatus==='SUSPENDED'" style="color: #e96969; background-color: whitesmoke; border-radius: 4%;">&nbsp; suspenso &nbsp;</span>
                </td>
                <td style="width: 180px;">
                    <button pButton pTooltip="View" (click)="onSelectProject(project)" tooltipPosition="top" type="button" icon="pi pi-eye" style="background-color: #1c80cf; color: #fff; border-color: #1c80cf; height: 30px;"></button>&nbsp;
                    <button pButton pTooltip="Edit" (click)="onEditProject(project)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf; height: 30px;"></button>&nbsp;
                    <button pButton  pTooltip="Delete" (click)="deletionConfirm(project)" tooltipPosition="top" type="button" icon="pi pi-trash" style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="10">
                <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span> 
                <span *ngIf="!showLoading">No title found </span> 
                <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                <a href="javascript:;">
                <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="filterProjects(0)" pTooltip="Refresh" class="pi pi-refresh"></i>
                </a>                  
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Projecto {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #projectStatusForm="ngForm" (ngSubmit)="save(projectStatusForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Name</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name"
                ngModel #name="ngModel" required minlength="1" [(ngModel)]="project.name">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 1%;">
                <label>Departamento</label>
                <p-dropdown class="p-inputtext-sm"  [options]="departments" placeholder="Selecione"
                    name="department" #department ngModel [(ngModel)]="project.department.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 1%;">
                <label>Status</label>
                <p-dropdown class="p-inputtext-sm"  [options]="projectStatuses" placeholder="Selecione"
                    name="projectStatus" #projectStatus ngModel [(ngModel)]="project.projectStatus"></p-dropdown>
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%; background-color: #F4F6F6">
                <label >Membros envolvidos</label> <span *ngIf="editing" (click)="onaddEmployeeToProject()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="project.team" selectionMode="single" [responsive]="true" 
                     styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="background-color: #FFF;">Nome</th>
                      <th style="background-color: #FFF;">Cargo</th>
                      <th style="background-color: #FFF;" class="col-valor-header"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="employee">
                      <td>{{ employee.name }}</td>
                      <td>{{ employee.position.name }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <span ><a href="javascript:;" (click)="removeEmployeeProjectConfirm(employee.id)" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                      </td> 
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          Sem membros no projecto
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>     
                <br>   
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="projectStatusForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                </button>
            </div>
        </div>
      
    </form>
</p-dialog>

<!--Add New member in project -->
<p-dialog header="Novo membro" [(visible)]="displayModalAddNewMemberIntoProject" [modal]="true" [style]="{width: '30vw', height: '27vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #AddasMemberForm="ngForm" (ngSubmit)="addEmployeeToProject(selectedEmployeeIdToAddasMember)">
        <div class="col-12 p-fluid">
            <label>Funcionário</label>
            <p-dropdown class="p-inputtext-sm"  [options]="employees" placeholder="Selecione" [filter]="true"
                name="employee" #employee ngModel [(ngModel)]="selectedEmployeeIdToAddasMember"></p-dropdown>
        </div>

        <div class="col-12 p-fluid"> 
            <button pButton type="submit" [disabled]="AddasMemberForm.invalid" class="p-button-sm" style="height: 30px;">
                <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                <span *ngIf="showLoading">Loading...</span>
                <span *ngIf="!showLoading">add</span>      
            </button>
        </div>
    </form>
</p-dialog>


<!--Filtrar-->
<p-dialog [header]=" 'Filtros' " [(visible)]="displayModalFilter" [style]="{width: '33vw'}" [modal]="true"> 

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Itens por página</label>
                <p-dropdown [options]="sizePage" placeholder="Sort by..."
                ngModel name="itemsPerPage" [(ngModel)]="filter.itemsPerPage" (onChange)="filterProjects()"></p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Ordenação</label>
                <p-dropdown [options]="orderPage" placeholder="Sort by..."
                ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="filterProjects()"></p-dropdown>
            </div>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 1%;">
            <label>Status</label>
            <p-dropdown class="p-inputtext-sm"  [options]="projectStatuses" placeholder="Selecione"
                name="projectStatus" #projectStatus ngModel [(ngModel)]="filter.projectStatus" (ngModelChange)="filterProjects()"></p-dropdown>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;"> 
          <label>Nome</label>    
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="filter.name" name="designation" pInputText type="text" placeholder="Search" (ngModelChange)="filterProjects()"/>
            </span>      
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <label>Departmento</label>
            <p-dropdown class="p-inputtext-sm"  [options]="departments" placeholder="Selecione" [filter]="true"
                name="department" #department ngModel [(ngModel)]="filter.department" (ngModelChange)="filterProjects()"></p-dropdown>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <button pButton type="submit" label="Reset" style="height: 30px; margin-top: 1%;"></button>
        </div>

    </div> 

</p-dialog>  

<p-dialog header="{{selectedProjectModal.name}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">

    <div class="formgrid grid">

        <div class="col-12 p-fluid">
            <li class="dialog-info-li"><i class="dialog-info-i"><span style="color:#545555;font-weight:bold">Nome</span>: <span style="color:#08080871;font-weight:bold">{{selectedProjectModal.name}}</span></i></li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span style="color:#545555;font-weight:bold">Departamento</span>: <span style="color:#08080871;font-weight:bold">{{selectedProjectModal.department.name}}</span></i></li>
            <li class="dialog-info-li">
                <i class="dialog-info-i"><span style="color:#545555;font-weight:bold">Cargo</span>: 
                    <span *ngIf="selectedProjectModal.projectStatus==='APPROVED'" style="color:#fff; background-color: #63c05a; border-radius: 4%; height: 50px;">&nbsp; aprovado &nbsp;</span>
                    <span *ngIf="selectedProjectModal.projectStatus==='CANCELED'" style="color:#fff; background-color: #e96969; border-radius: 4%;">&nbsp; cancelado &nbsp;</span>
                    <span *ngIf="selectedProjectModal.projectStatus==='CONCLUDED'" style="color:#fff; background-color: #1c80cf; border-radius: 4%; height: 50px;">&nbsp; concluído &nbsp;</span>
                    <span *ngIf="selectedProjectModal.projectStatus==='PENDING'" style="color:#999c4d; background-color: whitesmoke; border-radius: 4%;">&nbsp; pendente &nbsp;</span>
                    <span *ngIf="selectedProjectModal.projectStatus==='IN_TEST'" style="color:#28be1a; background-color: whitesmoke; border-radius: 4%; height: 50px;">&nbsp; em_teste &nbsp;</span>
                    <span *ngIf="selectedProjectModal.projectStatus==='IN_PROGRESS'" style="color:#1c80cf; background-color: whitesmoke; border-radius: 4%;">&nbsp; em_andamento &nbsp;</span>
                    <span *ngIf="selectedProjectModal.projectStatus==='SUSPENDED'" style="color: black; background-color: whitesmoke; border-radius: 4%;">&nbsp; suspenso &nbsp;</span>
                </i>
            </li>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%; background-color: #F4F6F6">
            <label >Membros envolvidos</label>
            <p-table [value]="selectedProjectModal.team" selectionMode="single" [responsive]="true" 
                 styleClass="p-datatable-sm" #tabela >
              <ng-template pTemplate="header">
                <tr>
                  <th style="background-color: #FFF;">Nome</th>
                  <th style="background-color: #FFF;">Cargo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                <tr [pSelectableRow]="employee">
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.position.name }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="10">
                      Sem membros no projecto
                    </td>
                  </tr>
              </ng-template>            
            </p-table>     
            <br>   
        </div>
    </div>
</p-dialog>

