<div class="container">
    <h3>Projectos</h3>

    <p-table [value]="projects" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage"
        currentPageReportTemplate="Results: {{totalRecords}} of {{totalProjects}}" [showCurrentPageReport]="true"
        [lazy]="true" [totalRecords]="totalRecords" styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton (click)="onAddNewProject()" pRipple label="Novo" icon="pi pi-plus"
                    class="p-button-primmary mr-2"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Name, description, or dep" [(ngModel)]="filter.global"
                        (ngModelChange)="filterProjects()" />
                </span>
                <button type="button" (click)="onFilter()" pButton pRipple icon="pi pi-filter"
                    style=" border-style: none;" class="ml-auto" pTooltip="Selection Only"
                    tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">
                    Nome
                    <span *ngIf="filter.sort ==='name,desc'" class="pi pi-sort-down"
                        style="margin-left: 2px; color: #1c80cf;"></span>
                    <span *ngIf="filter.sort ==='name,asc'" class="pi pi-sort-up"
                        style="margin-left: 2px; color: #1c80cf;"></span>
                </th>
                <th style="background-color: #fff;">Descrição</th>
                <th style="background-color: #fff;">Departamento</th>
                <th style="background-color: #fff;">Status</th>
                <th style="background-color: #fff;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td style="color: #404C51; font-weight: bold;">
                    {{ project.name }}
                </td>
                <td>{{ project.description }}</td>
                <td>{{ project.department.name }}</td>
                <td>
                    <p-tag [value]="getProject(project.projectStatus)"
                        [severity]="getProjectStatus(project.projectStatus)"></p-tag>
                </td>
                <td style="width: 180px;">
                    <span class="p-buttonset mr-auto">
                        <button pButton pTooltip="View" (click)="onSelectProject(project)" tooltipPosition="top"
                            type="button" icon="pi pi-eye" style="height: 30px;"></button>
                        <button pButton pTooltip="Edit" (click)="onEditProject(project)" tooltipPosition="top"
                            type="button" icon="pi pi-pencil"
                            style="background-color: #fff; color: #1c80cf; border-color: #1c80cf; height: 30px;"></button>
                        <button pButton pTooltip="Delete" (click)="deletionConfirm(project)" tooltipPosition="top"
                            type="button" icon="pi pi-trash"
                            style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">
                    <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span>
                    <span *ngIf="!showLoading">No title found </span>
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                    <a href="javascript:;">
                        <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="filterProjects(0)" pTooltip="Refresh"
                            class="pi pi-refresh"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Projecto {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true"
    [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #projectStatusForm="ngForm" (ngSubmit)="save(projectStatusForm)">
        <div>
            <div class="col-12 p-fluid">
                <label>Name</label>
                <input pInputText type="text" name="name" ngModel #name="ngModel" required minlength="1"
                    [(ngModel)]="project.name">
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2px;">
                <label>Descrição</label>
                <textarea pInputTextarea rows="3" ngModel #coordnates="ngModel" minlength="3" ngModel name="description"
                    [(ngModel)]="project.description" minlength="1"></textarea>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2px;">
                <label>Departamento</label>
                <p-dropdown [options]="departments" placeholder="Selecione" name="department" #department ngModel
                    [(ngModel)]="project.department.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2px;">
                <label>Status</label>
                <p-dropdown [options]="projectStatuses" placeholder="Selecione" name="projectStatus" #projectStatus
                    ngModel [(ngModel)]="project.projectStatus"></p-dropdown>
            </div>

            <a href="javascript:;" style="text-decoration: none;" (click)="showTasks = !showTasks">
                <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                    <i *ngIf="!showTasks" class="pi pi-angle-right" style="margin: 13px;"></i>
                    <i *ngIf="showTasks" class="pi pi-angle-down" style="margin: 13px;"></i>
                    Tasks
                </div>
            </a>

            <div *ngIf="showTasks" class="col-12 p-fluid" style="margin-top: 2px; background-color: #fff">
                <a href="javascript:;" style="padding: 10px;" (click)="getReadyNewTask()">add new</a>
                <p-table [value]="project.tasks" [responsive]="true" styleClass="p-datatable-sm" #tabela>
                    <ng-template pTemplate="header">
                        <tr>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ task.description }}</td>
                            <td class="col-acoes">
                                <span class="p-buttonset">
                                    <a href="javascript:;" (click)="getReadyTaskEdit(task, rowIndex)"><p-tag
                                            [severity]="'primmary'">edit</p-tag></a>
                                    <a style="margin-left: 3px;" href="javascript:;"
                                        (click)="removeTask(rowIndex)"><p-tag [severity]="'danger'">
                                            remove</p-tag></a>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">
                                Sem tarefas adicionadas
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
            </div>

            <a href="javascript:;" style="text-decoration: none; margin-top: 4px;"
                (click)="showProjectMembers = !showProjectMembers">
                <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                    <i *ngIf="!showProjectMembers" class="pi pi-angle-right" style="margin: 13px;"></i>
                    <i *ngIf="showProjectMembers" class="pi pi-angle-down" style="margin: 13px;"></i>
                    Membros
                </div>
            </a>

            <div *ngIf="showProjectMembers" class="col-12 p-fluid" style="margin-top: 2px; background-color: #fff">
                <p-multiSelect [options]="employees" [(ngModel)]="selectedEmployees" name="employees"
                    optionLabel="person.firstName"></p-multiSelect>
                <br>
                <span *ngIf="!editing" style="color: #e96969;">Só poderá adicionar os membros depois de salvar o
                    projeto</span>
                <p-table [value]="project.team" [responsive]="true" styleClass="p-datatable-sm" #tabela>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: #FFF;">Nome</th>
                            <th style="background-color: #FFF;">Cargo</th>
                            <th style="background-color: #FFF;" class="col-valor-header"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="employee">
                            <td>{{ employee.person.firstName }} {{ employee.person.lastName }}</td>
                            <td>{{ employee.position.name }}</td>
                            <td class="col-acoes">
                                <span class="p-buttonset">
                                    <a href="javascript:;" (click)="removeMember(rowIndex)"><p-tag
                                            [severity]="'danger'">remove</p-tag></a>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">
                                Sem membros no projecto
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
            </div>

            <div class="col-12" style="margin-top: 2px;">
                <button pButton type="submit" [disabled]="projectStatusForm.invalid"
                    style="display:inline; float: right;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>
                </button>
            </div>
        </div>

    </form>
</p-dialog>

<!--Filtrar-->
<p-dialog [header]=" 'Filtros' " [(visible)]="displayModalFilter" [style]="{width: '33vw'}" [modal]="true">

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Itens por página</label>
                <p-dropdown [options]="sizePage" placeholder="Sort by..." ngModel name="itemsPerPage"
                    [(ngModel)]="filter.itemsPerPage" (onChange)="filterProjects()"></p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Ordenação</label>
                <p-dropdown [options]="orderPage" placeholder="Sort by..." ngModel name="sort" [(ngModel)]="filter.sort"
                    (onChange)="filterProjects()"></p-dropdown>
            </div>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 1%;">
            <label>Status</label>
            <p-dropdown [options]="projectStatuses" placeholder="Selecione" name="projectStatus" #projectStatus ngModel
                [(ngModel)]="filter.projectStatus" (ngModelChange)="filterProjects()"></p-dropdown>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <label>Nome</label>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input [(ngModel)]="filter.name" name="designation" pInputText type="text" placeholder="Search"
                    (ngModelChange)="filterProjects()" />
            </span>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <label>Departmento</label>
            <p-dropdown [options]="departments" placeholder="Selecione" [filter]="true" name="department" #department
                ngModel [(ngModel)]="filter.department" (ngModelChange)="filterProjects()"></p-dropdown>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <button pButton type="submit" label="Reset" style="margin-top: 1%;"></button>
        </div>

    </div>

</p-dialog>

<p-dialog header="{{selectedProjectModal.name}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '45vw'}"
    [draggable]="false" [resizable]="false">

    <div>

        <div class="col-12 p-fluid">
            <li class="dialog-info-li"><i class="dialog-info-i"><span
                        style="color:#545555;font-weight:bold">Nome</span>: <span
                        style="color:#08080871;font-weight:bold">{{selectedProjectModal.name}}</span></i></li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span
                        style="color:#545555;font-weight:bold">Departamento</span>: <span
                        style="color:#08080871;font-weight:bold">{{selectedProjectModal.department.name}}</span></i>
            </li>
            <li class="dialog-info-li">
                <i class="dialog-info-i"><span style="color:#545555;font-weight:bold">Status</span>:
                    <p-tag [value]="selectedProjectModal.projectStatus"
                        [severity]="getProjectStatus(selectedProjectModal.projectStatus)"></p-tag>
                </i>
            </li>
        </div>

        <a href="javascript:;" style="text-decoration: none;" (click)="showTasksView = !showTasksView">
            <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                <i *ngIf="!showTasksView" class="pi pi-angle-right" style="margin: 13px;"></i>
                <i *ngIf="showTasksView" class="pi pi-angle-down" style="margin: 13px;"></i>
                Tasks
            </div>
        </a>

        <div *ngIf="showTasksView" class="col-12 p-fluid" style="margin-top: 2px; background-color: #fff">
            <p-table [value]="selectedProjectModal.tasks" [responsive]="true" styleClass="p-datatable-sm" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ task.description }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                            Sem tarefas adicionadas
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
        </div>

        <a href="javascript:;" style="text-decoration: none; margin-top: 2px;"
            (click)="showProjectMembersView = !showProjectMembersView">
            <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                <i *ngIf="!showProjectMembersView" class="pi pi-angle-right" style="margin: 13px;"></i>
                <i *ngIf="showProjectMembersView" class="pi pi-angle-down" style="margin: 13px;"></i>
                Membros
            </div>
        </a>

        <div *ngIf="showProjectMembersView" class="col-12 p-fluid" style="margin-top: 2px; background-color: #fff">
            <p-table [value]="selectedProjectModal.team" selectionMode="single" [responsive]="true"
                styleClass="p-datatable-sm" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: #FFF;">Nome</th>
                        <th style="background-color: #FFF;">Cargo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="employee">
                        <td>{{ employee.person.firstName }} {{ employee.person.lastName }}</td>
                        <td>{{ employee.position.name }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                            Sem membros no projecto
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
        </div>

    </div>
</p-dialog>

<!--Tasks-->
<p-dialog [header]="editingTask ? 'Edição tarefa' : 'Nova tarefa'" [style]="{width: '30vw'}" [(visible)]="showTaskForm"
    [modal]="true" *ngIf="task">
    <form #frmTask="ngForm" (ngSubmit)="confirmTask(frmTask)">
        <div class="col-12 p-fluid">
            <label>Descrição</label>
            <input pInputText type="text" name="description" required [(ngModel)]="task.description"
                #description="ngModel" />
        </div>
        <div class="col-12 p-fluid">
            <button pButton type="submit" label="Confirmar" [disabled]="frmTask.invalid"
                style="margin-top: 1%;"></button>
        </div>
    </form>
</p-dialog>


<!--
<span *ngIf="project.projectStatus==='APPROVED'" style="color:#fff; background-color: #63c05a; border-radius: 4%; height: 50px;">&nbsp; aprovado &nbsp;</span>
<span *ngIf="project.projectStatus==='CANCELED'" style="color:#fff; background-color: #e96969; border-radius: 4%;">&nbsp; cancelado &nbsp;</span>
<span *ngIf="project.projectStatus==='CONCLUDED'" style="color:#fff; background-color: #1c80cf; border-radius: 4%; height: 50px;">&nbsp; concluído &nbsp;</span>
<span *ngIf="project.projectStatus==='PENDING'" style="color:#999c4d; background-color: whitesmoke; border-radius: 4%;">&nbsp; pendente &nbsp;</span>
<span *ngIf="project.projectStatus==='IN_TEST'" style="color:#28be1a; background-color: whitesmoke; border-radius: 4%; height: 50px;">&nbsp; em_teste &nbsp;</span>
<span *ngIf="project.projectStatus==='IN_PROGRESS'" style="color:#1c80cf; background-color: whitesmoke; border-radius: 4%;">&nbsp; em_andamento &nbsp;</span>
<span *ngIf="project.projectStatus==='SUSPENDED'" style="color: #e96969; background-color: whitesmoke; border-radius: 4%;">&nbsp; suspenso &nbsp;</span>
-->