<div class="container">
    <h5 style="text-align: center;">Histórico de Avaliação de desenpenho dos funcionários</h5>

    <br>

    <p-table [value]="employeePerformanceEvaluations" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="filter.name" name="name" pInputText type="text" placeholder="Search" (ngModelChange)="getEmployeePerformanceEvaluations()"/>
                </span>
                <p-dropdown style="margin-left: 2%; margin-right: 2%;" [options]="orderPage" placeholder="Sort by..." [filter]="true"
                ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getEmployeePerformanceEvaluations()"></p-dropdown>
                <p-dropdown style="margin-right: 2%;" [options]="sizePage" placeholder="Sort by..."
                ngModel name="itemsPerPage" [(ngModel)]="filter.itemsPerPage" (onChange)="getEmployeePerformanceEvaluations()"></p-dropdown>
                <button (click)="onAddNewEmployeePerformanceEvaluation()" pButton icon="pi pi-plus" style="background-color: #63c05a; border-style: none;"></button> 
                <button type="button" pButton pRipple icon="pi pi-filter"  class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">Funcionário</th>
                <th style="background-color: #fff;">Departamento</th>
                <th style="background-color: #fff;">Data</th>
                <th style="background-color: #fff;">Categoria</th>
                <th style="background-color: #fff;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-epe>
            <tr>
                <td>
                    {{ epe.employee.name }}
                </td>
                <td>{{ epe.employee.position.department.name }}</td>
                <td>{{ epe.date | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <span *ngIf="epe.category==='MONTHLY'" style="color:#fff; background-color: #63c05a; border-radius: 4%; height: 50px;">&nbsp; Mensal &nbsp;</span>
                    <span *ngIf="epe.category==='YEARLY'" style="background-color: #e3975d; color:#fff; border-radius: 4%;">&nbsp; Anual &nbsp;</span>
                </td>
                <td style="width: 180px;">
                    <button pButton pTooltip="Edit" (click)="onEditEmployeePerformanceEvaluation(epe)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf;"></button>&nbsp;
                    <button pButton (click)="deletionConfirm(epe)" pTooltip="Delete" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #e96969; border-color: #e96969;"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog header=" {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #employeePerformanceEvaluationForm="ngForm" (ngSubmit)="save(employeePerformanceEvaluationForm)">
        <div class="formgrid grid">   
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Funcionário</label>
                <p-dropdown class="p-inputtext-sm"  [options]="employees" placeholder="Selecione" [filter]="true"
                    name="employee" #employee ngModel [(ngModel)]="employeePerformanceEvaluation.employee.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Categoria</label>
                <p-dropdown class="p-inputtext-sm"  [options]="categories" placeholder="Selecione" [filter]="true"
                    name="category" #category ngModel [(ngModel)]="employeePerformanceEvaluation.category"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Trabalho em equipe</label>
                <input pInputText class="p-inputtext-sm" type="text" name="teamWork"
                ngModel #teamWork="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.teamWork">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Comunicação</label>
                <input pInputText class="p-inputtext-sm" type="text" name="communication"
                ngModel #communication="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.communication">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Pensamento estratégico</label>
                <input pInputText class="p-inputtext-sm" type="text" name="strategicThought"
                ngModel #strategicThought="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.strategicThought">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Orientação para qualidade</label>
                <input pInputText class="p-inputtext-sm" type="text" name="qualityOrientation"
                ngModel #qualityOrientation="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.qualityOrientation">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Comentário / Recomendações do avaliador</label>
                <input pInputText class="p-inputtext-sm" type="text" name="forEmployeeImprovement"
                ngModel #forEmployeeImprovement="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.forEmployeeImprovement">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Comentários do avaliador</label>
                <input pInputText class="p-inputtext-sm" type="text" name="evaluatorsComments"
                ngModel #evaluatorsComments="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.evaluatorsComments">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>evaluatorsRecommendations</label>
                <input pInputText class="p-inputtext-sm" type="text" name="evaluatorsRecommendations"
                ngModel #evaluatorsRecommendations="ngModel" required minlength="1" [(ngModel)]="employeePerformanceEvaluation.evaluatorsRecommendations">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="employeePerformanceEvaluationForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
              </div>
        </div>  
    </form>
</p-dialog>

