<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />
<div class="container">
    <span *ngIf="user != undefined">
        <a href="javascript:;" style="display:inline; float: right;" tooltipPosition="top"
            *ngIf="isCandidate && !isAlreadyAplliedToCurrentJob()" (click)="onApply()">
            <p-tag [severity]="'primmary'">apply now</p-tag>
        </a>
        <a style="display:inline; float: right;" tooltipPosition="top"
            *ngIf="isCandidate && isAlreadyAplliedToCurrentJob()">
            <p-tag [severity]="'info'">applied</p-tag>
        </a>
    </span>


    <div style="display:inline;">
        <p style="margin-top: 20px; font-size: 30px;">{{ job.position.name }}</p>
    </div>
    <p style="margin-top: 20px; "><span style="color: #1a1919; font-size: 1.1rem; ">Posting Location: </span><span
            style="font-size: 1rem;">{{ job.position.location.name }}, {{ job.position.location.country.name }}</span></p>
    <p><span style="color: #1a1919; font-size: 1.1rem; ">Date Posted: </span><span style="font-size: 1rem;">{{
            job.publicationDate | date: 'd MMM, y' }}</span></p>
    <p style="margin-top: 20px; margin-bottom: 20px; font-size: 0.85rem;"> At Meta, we’re working hard to build a better
        future. A more connected, inclusive and sustainable world. As a dynamic global community, it's our human spirit,
        together with technology, that empowers us to achieve this..</p>
</div>
<main>
    <div class="container">

        <div class="left">
            <a href="javascript:;" tooltipPosition="top" routerLink="/v1/jobs">
                <p-tag [severity]="'primmary'">voltar para vagas</p-tag>
            </a>
            <div class="sidebar">
                <a class="menu-item active">
                    <!--
                    <span><i class="uil uil-home"></i></span> <h3>{{ job.position.name }}</h3>
                    -->
                </a>
            </div>
        </div>

        <div class="middle">
            <div class="feeds">

                <h3>Responsabilidades</h3>
                <div class="feed" *ngFor="let mainResponsibility of job.position.mainResponsibilities">
                    <p>{{ mainResponsibility.designation }};</p>
                </div>
                <h3>Requisitos</h3>
                <div class="feed" *ngFor="let specificRequirement of job.position.specificRequirements">
                    <p>{{ specificRequirement.designation }};</p>
                </div>
                <h3>Beneficios</h3>
                <div class="feed" *ngFor="let benefit of job.position.benefits">
                    <p>{{ benefit.designation }};</p>
                </div>

            </div>
        </div>

        <div class="right">
            <div class="messages">
                <div class="heading">
                    <img class="w-5 sm:w-16rem xl:w-10rem shadow-5 block xl:block mx-auto border-round"
                        src="{{imagePath}}" alt="" />
                </div>
            </div>
        </div>
    </div>
</main>

<!--
<div class="container">
    <div class="col-12">
        <div href="javascript:;" class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
            <img class="w-5 sm:w-16rem xl:w-5rem shadow-2 block xl:block mx-auto border-round"  alt="" />
            <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                    <div class="text-1xl font-bold text-700">  
                        <span style="color: #1c80cf;">{{ job.position.name }}</span>
                    </div>
                    <p class="flex align-items-center gap-3" *ngFor="let mainResponsibility of job.position.mainResponsibilities">
                        <span class="flex align-items-center gap-2">
                            <li>{{ mainResponsibility.designation }}</li>
                        </span>                    
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->