
<div class="container">
    <h5 style="text-align: center;">Local de trabalho</h5>

    <p-table [value]="workplaces" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="filter.name" name="name" pInputText type="text" placeholder="Search" (ngModelChange)="getWorkplaces()"/>
                </span>
                <p-dropdown style="margin-left: 2%; margin-right: 2%;" [options]="orderPage" placeholder="Sort by..."
                ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getWorkplaces()"></p-dropdown>
                <p-dropdown style="margin-right: 2%;" [options]="sizePage" placeholder="Sort by..."
                ngModel name="itemsPerPage" [(ngModel)]="filter.itemsPerPage" (onChange)="getWorkplaces()"></p-dropdown>
                <button (click)="onAddNewWorkplace()" pButton icon="pi pi-plus" style="background-color: #63c05a; border-style: none;"></button> 
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">Nome</th>
                <th style="background-color: #fff;">Descrição</th>
                <th style="background-color: #fff;">Ações</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workplace>
            <tr>
                <td>{{ workplace.name }}</td>
                <td>{{ workplace.description }}</td>
                <td style="width: 180px;">
                    <button pButton pTooltip="Edit"  tooltipPosition="top" type="button" icon="pi pi-eye" style="background-color: #1c80cf; color: #fff; border-color: #1c80cf; height: 30px;"></button>&nbsp;
                    <button pButton pTooltip="Edit" (click)="onEditWorkplace(workplace)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf; height: 30px;"></button>&nbsp;
                    <button pButton (click)="deletionConfirm(workplace)" pTooltip="Delete" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog header="Workplace {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #workplaceForm="ngForm" (ngSubmit)="save(workplaceForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Name</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name"
                ngModel #name="ngModel" required minlength="1" [(ngModel)]="workplace.name">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Descrição</label>
                <input pInputText class="p-inputtext-sm" type="text" name="description"
                ngModel #description="ngModel" required minlength="1" [(ngModel)]="workplace.description">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="workplaceForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
              </div>
        </div>
      
    </form>
</p-dialog>