<div class="container">
    <h5 style="text-align: center;">Tipos de formação</h5>

    <p-table [value]="trainingTypes" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage"
        currentPageReportTemplate="Results: {{totalRecords}} of {{totalTrainingTypes}}" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [lazy]="true" [totalRecords]="totalRecords"
        styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton (click)="onAddNewTrainingType()" pRipple label="Novo" icon="pi pi-plus"
                    class="p-button-primmary mr-2"></button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="filter.name" name="name" pInputText type="text" placeholder="Pesquisa"
                        (ngModelChange)="filterTrainingTypes()" />
                </span>
                <p-dropdown style="margin-left: 2%; margin-right: 2%;" [options]="orderPage" placeholder="Sort by..."
                    ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="filterTrainingTypes()"></p-dropdown>
                <p-dropdown style="margin-right: 2%;" [options]="sizePage" placeholder="Sort by..." ngModel
                    name="itemsPerPage" [(ngModel)]="filter.itemsPerPage"
                    (onChange)="filterTrainingTypes()"></p-dropdown>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">
                    Tipo
                    <span *ngIf="filter.sort ==='level,desc'" class="pi pi-sort-down"
                        style="margin-left: 2px; color: #1c80cf;"></span>
                    <span *ngIf="filter.sort ==='level,asc'" class="pi pi-sort-up"
                        style="margin-left: 2px; color: #1c80cf;"></span>
                </th>
                <th style="background-color: #fff;">Nivel</th>
                <th style="background-color: #fff;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trainingType>
            <tr>
                <td style="color: #404C51; font-weight: bold;">
                    {{ trainingType.type }}
                </td>
                <td>{{ trainingType.level }}</td>
                <td style="width: 180px;">
                    <span class="p-buttonset mr-auto">
                        <button pButton pTooltip="Edit" (click)="onSelectTrainingType(trainingType)"
                            tooltipPosition="top" type="button" icon="pi pi-eye" style="height: 30px;"></button>
                        <button pButton pTooltip="Edit" (click)="onEditTrainingType(trainingType)" tooltipPosition="top"
                            type="button" icon="pi pi-pencil"
                            style="background-color: #fff; color: #1c80cf; border-color: #1c80cf; height: 30px;"></button>
                        <button pButton pTooltip="Delete" (click)="deletionConfirm(trainingType)" tooltipPosition="top"
                            type="button" icon="pi pi-trash"
                            style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">
                    <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span>
                    <span *ngIf="!showLoading">No training types found </span>
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                    <a href="javascript:;">
                        <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="filterTrainingTypes(0)"
                            pTooltip="Refresh" class="pi pi-refresh"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>


<p-dialog header="Training Type {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true"
    [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #trainingTypeForm="ngForm" (ngSubmit)="save(trainingTypeForm)">
        <div>

            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Nivel</label>
                <p-dropdown [options]="trainingLevel" placeholder="Selecione" name="gender" #gender ngModel
                    [(ngModel)]="trainingType.level"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Tipo</label>
                <input pInputText type="text" name="description" ngModel #description="ngModel" required minlength="1"
                    [(ngModel)]="trainingType.type">
            </div>

            <a href="javascript:;" style="text-decoration: none; margin-top: 4%;"
                (click)="showTrainingGoals = !showTrainingGoals">
                <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                    <i *ngIf="!showTrainingGoals" class="pi pi-angle-right" style="margin: 13px;"></i>
                    <i *ngIf="showTrainingGoals" class="pi pi-angle-down" style="margin: 13px;"></i>
                    Goals
                </div>
            </a>

            <!--Goals-->
            <div *ngIf="showTrainingGoals" class="col-12 p-fluid" style="margin-top: 2%; background-color: #fff">
                <a href="javascript:;" (click)="getReadyNewGoal()">add +</a>
                <p-table [value]="trainingType.companyTrainingTypeGoals" [responsive]="true" styleClass="p-datatable-sm"
                    #tabela>
                    <ng-template pTemplate="header">
                        <tr>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-goal let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ goal.designation }}</td>
                            <td class="col-acoes">
                                <span class="p-buttonset">
                                    <a href="javascript:;" (click)="getReadyGoalEdit(goal, rowIndex)"><p-tag
                                            [severity]="'primmary'">edit</p-tag></a>
                                    <a style="margin-left: 3px;" href="javascript:;"
                                        (click)="removeGoal(rowIndex)"><p-tag [severity]="'danger'"> remove</p-tag></a>
                                </span>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">
                                Sem habilidades adicionadas
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
            </div>

            <div class="col-12" style="margin-top: 2%;">
                <button pButton type="submit" [disabled]="trainingTypeForm.invalid"
                    style="display:inline; float: right;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>

<!--Show -->
<p-dialog header="{{selectedTrainingTypeModal.level}}" [(visible)]="displayModal" [modal]="true"
    [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">
    <div>
        <div class="col-12 p-fluid">
            <label>Nivel</label>: <span> {{selectedTrainingTypeModal.level}}</span>
        </div>
        <div class="col-12 p-fluid">
            <label>Tipo</label>: <span> {{selectedTrainingTypeModal.type}}</span>
        </div>

        <a href="javascript:;" style="text-decoration: none; margin-top: 4%;"
            (click)="showProjectGoalsView = !showProjectGoalsView">
            <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                <i *ngIf="!showProjectGoalsView" class="pi pi-angle-right" style="margin: 13px;"></i>
                <i *ngIf="showProjectGoalsView" class="pi pi-angle-down" style="margin: 13px;"></i>
                Objectivos
            </div>
        </a>

        <!--Goals-->
        <div *ngIf="showProjectGoalsView" class="col-12 p-fluid" style="margin-top: 2%; background-color: #fff">
            <p-table [value]="selectedTrainingTypeModal.companyTrainingTypeGoals" [responsive]="true"
                styleClass="p-datatable-sm" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-goal let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ goal.designation }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                            Sem habilidades adicionadas
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
        </div>
    </div>
</p-dialog>

<!--Goals-->
<p-dialog [header]="editingGoal ? 'Edição objectivo' : 'Novo objectivo'" [style]="{width: '40vw'}"
    [(visible)]="showGoalForm" [modal]="true" *ngIf="goal">
    <!--*ngIf="contato" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmGoal="ngForm" (ngSubmit)="confirmGoal(frmGoal)">
        <div class="col-12 p-fluid">
            <label>Designation</label>
            <textarea pInputTextarea rows="3" ngModel #coordnates="ngModel" minlength="3" ngModel name="designation"
                [(ngModel)]="goal.designation" minlength="10"></textarea>
        </div>
        <div class="col-12 p-fluid">
            <button pButton type="submit" label="Confirmar" [disabled]="frmGoal.invalid"
                style="margin-top: 1%;"></button>
        </div>
    </form>
</p-dialog>