
<div class="mega-menu">
  <div class="container">
    <ul>
      <span style="display:inline; float: right;" >
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/employees')"><a routerLink="/v1/employees">Funcionários</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/employee-performance-evaluations')"><a routerLink="/v1/employee-performance-evaluations">Desenpenho</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/departments')"><a routerLink="/v1/departments">Departamentos</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/projects')"><a routerLink="/v1/projects">Projectos</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/positions')"><a routerLink="/v1/positions">Cargos</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/vocations')"><a routerLink="/v1/vocations">Ausências</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/company-trainings')"><a routerLink="/v1/company-trainings">Formação</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/company-training-types')"><a routerLink="/v1/company-training-types">T. Formação</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/workplaces')"><a routerLink="/v1/workplaces">L. trabalho</a></li>
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/payrolls')"><a routerLink="/v1/payrolls">Pagamentos</a></li>
        <li [class.active]="isActive('/v1/jobs')"><a routerLink="/v1/jobs">Vagas</a></li>
        <!--<li [class.active]="isActive('/v1/jobs-page')"><a routerLink="/v1/jobs-page">Vagas</a></li>-->
        <li *ngIf="isUserLoggedIn && isSuperAdmin" [class.active]="isActive('/v1/users')"><a routerLink="/v1/users">Usuários</a></li>
        <li *ngIf="!isUserLoggedIn"><a routerLink="/login">Login</a></li>
        <span *ngIf="isUserLoggedIn" style="margin-left: 20px;" class="gap-2">
          <!--<i class="pi pi-briefcase" style="color: #eee7e7;"></i>-->
          <li class="pi pi-user" style="color: #a4a1a1;" routerLink="/v1/user-profile"></li>
          <li ><a routerLink="/v1/user-profile">{{user.firstName}}</a></li>
        </span>  
      </span>
      <span style="display:inline; ">
        <img height="20" width="60" src="{{imagePath}}" alt="" />
      </span>
    </ul>
  </div>

</div>

<!--
<div class="card">
    <p-megaMenu [model]="items" [style]="{'background-color':'#53595c'}"></p-megaMenu>
</div>
-->

<!--
<nav class="navbar">

    <div class="container">
      <div class="p-grid">
        <div class="p-col-12" style="display:inline; float: right;">  
          <a href="javascript:;" class="navbar-toggle" (click)="showMenu = !showMenu;">
            <i class="pi pi-bars"></i>            
          </a>
        </div>
        <div style="display:inline; ">
          <img height="20" width="60"  alt="" />
        </div> 
      </div>
    </div>

    <ul class="navbar-menu" [hidden]="!showMenu" style="background: rgba(11, 11, 17, 0.75)">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/employees" (click)="showMenu = !showMenu" style="margin-left: 10px;">Funcionários</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/employee-performance-evaluations" (click)="showMenu = !showMenu" style="margin-left: 10px;">Desenpenho</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/projects" (click)="showMenu = !showMenu" style="margin-left: 10px;">Projetos</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/positions" (click)="showMenu = !showMenu" style="margin-left: 10px;">Cargos</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/vocations" (click)="showMenu = !showMenu" style="margin-left: 10px;">Férias e ausências</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/company-trainings" (click)="showMenu = !showMenu" style="margin-left: 10px;">Formação e desen</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/company-training-types" (click)="showMenu = !showMenu" style="margin-left: 10px;">Tipos de formação</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/departments" (click)="showMenu = !showMenu" style="margin-left: 10px;">Departamentos</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/workplaces" (click)="showMenu = !showMenu" style="margin-left: 10px;">Locais de trabalho</a>
      </li>
      <li class="navbar-menuitem"  routerLinkActive="ativo" >
        <a routerLink="/v1/payrolls" (click)="showMenu = !showMenu" style="margin-left: 10px;">Proc. de salários</a>
      </li>
      <li class="" routerLinkActive="ativo" style="margin-top: 60%;">
        <a href="javascript:;" (click)="showMenu = !showMenu" class="navbar-toggle" style="position: absolute; width: 100%; text-align: center; color: white;"><i class="pi pi-times"></i></a>
      </li>
    </ul>

  </nav>

-->



<!--
  <li class="navbar-menuitem"  routerLinkActive="ativo" >
    <a routerLink="/v1/performance-evaluations" (click)="showMenu = !showMenu" style="margin-left: 10px;">Av. de competencias</a>
  </li>
  <li class="navbar-menuitem"  routerLinkActive="ativo" >
    <a routerLink="/v1/skills" (click)="showMenu = !showMenu" style="margin-left: 10px;">Competências</a>
  </li>
-->
