<div class="container">
    <h5 style="text-align: center;">Funcionários</h5>

    <p-table [value]="employees" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" styleClass="p-datatable-sm" #table>
        
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="filter.name" name="designation" pInputText type="text" placeholder="Search" (ngModelChange)="getEmployees()"/>
                </span>
                <p-dropdown style="margin-left: 2%; margin-right: 2%;" [options]="orderPage" placeholder="Sort by..."
                ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getEmployees()"></p-dropdown>
                <p-dropdown style="margin-right: 2%;" [options]="sizePage" placeholder="Sort by..."
                ngModel name="itemsPerPage" [(ngModel)]="filter.itemsPerPage" (onChange)="getEmployees()"></p-dropdown>
                <button type="button" pButton pRipple icon="pi pi-file-pdf"  class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom" style="color: #e96969; background-color: #fff; border-color: #e96969;"></button>
                <button (click)="onAddNewEmployee()" pButton icon="pi pi-plus" style="background-color: #63c05a; border-style: none;"></button> 
                <button type="button" pButton pRipple icon="pi pi-filter"  class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Status</th>
                <th>Ações</th>       
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.position.name }}</td>
                <td>{{ employee.position.department.name }}</td>
                <td>
                    <span *ngIf="employee.status" style="color:#fff; background-color: #1c80cf; border-radius: 4%; height: 50px;">&nbsp; Activo &nbsp;</span>
                    <span *ngIf="!employee.status" style="background-color: #e96969; color:#fff; border-radius: 4%;">&nbsp; Inactivo &nbsp;</span>
                </td>
                <td style="width: 180px;">
                    <button pButton pTooltip="Edit" (click)="onSelectEmployee(employee)" tooltipPosition="top" type="button" icon="pi pi-eye" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf;"></button>&nbsp;
                    <button pButton pTooltip="Edit" (click)="onEditEmployee(employee)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf;"></button>&nbsp;
                    <button pButton pTooltip="Delete" (click)="deletionConfirm(employee)" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #e96969; border-color: #e96969;"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="10">
                <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span> 
                <span *ngIf="!showLoading">No title found </span> 
                <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                <a href="javascript:;">
                <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="getEmployees(0)" pTooltip="Refresh" class="pi pi-refresh"></i>
                </a>                  
            </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog header="Funcionário {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '60vw', height: '35vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #employeeForm="ngForm" (ngSubmit)="save(employeeForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Nome</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name"
                ngModel #name="ngModel" required minlength="1" [(ngModel)]="employee.name">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Genero</label>
                <p-dropdown class="p-inputtext-sm"  [options]="genders" placeholder="Selecione"
                    name="gender" #gender ngModel [(ngModel)]="employee.gender"></p-dropdown>
            </div>
            <div class="col-12 md-12 p-fluid">
                <label>Data de nascimento</label>
                <p-calendar class="p-inputtext-sm" name="date" dateFormat="dd/mm/yy"
                [inputStyle]="{ 'width': '100px'}" [showIcon]="true" [showOnFocus]="false" name="birthday"
                  [inline]="false" [readonlyInput]="false" 
                  ngModel #birthday="ngModel" [required]="true" [(ngModel)]="employee.birthday"></p-calendar>
            </div>
            <!--
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Endereço fisico</label>
                <input pInputText class="p-inputtext-sm" type="text" name="physicalAddress"
                ngModel #physicalAddress="ngModel" required minlength="1" [(ngModel)]="employee.physicalAddress">  
            </div>
            -->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Estado civil</label>
                <p-dropdown class="p-inputtext-sm"  [options]="maritalStatuses" placeholder="Selecione"
                    name="maritalStatus" #maritalStatus ngModel [(ngModel)]="employee.maritalStatus"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Conjugue</label>
                <input pInputText class="p-inputtext-sm" type="text" name="spousesName"
                ngModel #spousesName="ngModel" required minlength="1" [(ngModel)]="employee.spousesName">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Salário</label>
                <input pInputText class="p-inputtext-sm" type="text" name="wageValue"
                ngModel #wageValue="ngModel" required minlength="1" [(ngModel)]="employee.wageValue">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Provincia</label>    
                <p-dropdown class="p-inputtext-sm" placeholder="Selecione..."
                    [filter]="true" [options]="provinces" [(ngModel)]="employee.province.id" name="province"
                    #province="ngModel" [required]=true>
                </p-dropdown>
            </div>
            <!--
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Departamento</label>    
                <p-dropdown class="p-inputtext-sm" placeholder="Selecione..."
                    [filter]="true" [options]="departments" [(ngModel)]="employee.department.id" name="department"
                    #department="ngModel" [required]=true>
                </p-dropdown>
            </div>
            -->

        
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Cargo</label>    
                <p-dropdown class="p-inputtext-sm" placeholder="Selecione..."
                    [filter]="true" [options]="positions" [(ngModel)]="employee.position.id" name="position"
                    #position="ngModel" [required]=true>
                </p-dropdown>
            </div>
            
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label >Contactos</label> <span (click)="getReadyNewContact()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="employee.contacts" selectionMode="single" [responsive]="true" 
                     styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="background-color: #FFF;">Número</th>
                      <th style="background-color: #FFF;">Nome do proprietário</th>
                      <th style="background-color: #FFF;" class="col-valor-header">Ações</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="employee">
                      <td>{{ employee.contactNumber }}</td>
                      <td>{{ employee.name }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <span (click)="getReadyContactEdit(employee, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                          <span (click)="removeContact(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                      </td> 
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          Sem contactos
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>        
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label >Formação</label> <span (click)="getReadyNewTraining()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="employee.employeeTrainings" selectionMode="single" [responsive]="true" 
                     styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="background-color: #FFF;">Descrição</th>
                      <th style="background-color: #FFF;">Início</th>
                      <th style="background-color: #FFF;">Fim</th>

                      <th style="background-color: #FFF;" class="col-valor-header">Ações</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="employee">
                      <td>{{ employee.description }}</td>
                      <td>{{ employee.begin | date:'MMMM, y'}}</td>
                      <td>{{ employee.end | date:'MMMM, y'}}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <span (click)="getReadyTrainingEdit(employee, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                          <span (click)="removeTraining(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                      </td>  
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          Sem contactos
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>        
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="employeeForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
              </div>
        </div>
      
    </form>
</p-dialog>

<!--Show -->
<p-dialog header="{{selectedEmployeeModal.name}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" [draggable]="false" [resizable]="false">
    <!--Employees view-->
    <div class="formgrid grid">
        <div class="col-12 p-fluid">

            <li class="dialog-info-li"><i class="dialog-info-i"><span style="color:#6a6b6b;font-weight:bold">Cargo</span>: <span style="color:#3f393371;font-weight:bold">{{selectedEmployeeModal.position.name}}</span></i></li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span style="color:#6a6b6b;font-weight:bold">Departamento</span>: <span style="color:#3f393371;font-weight:bold">{{selectedEmployeeModal.position.department.name}}</span></i></li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span style="color:#6a6b6b;font-weight:bold">Provincia</span>: <span style="color:#3f393371;font-weight:bold">{{selectedEmployeeModal.province.name}}</span></i></li>

            <br>

            <!--Contacts-->
            <label style="color:#6a6b6b;">Contactos</label> <span *ngIf="selectedEmployeeModal.employeeTrainings.length != 0"> ({{selectedEmployeeModal.employeeTrainings.length}})</span>
            <span (click)="showContacts =! showContacts ">
                <a *ngIf="!showContacts" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> mostrar </a>
                <a *ngIf="showContacts" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> fechar </a>
            </span>

            <p-table [value]="selectedEmployeeModal.contacts" [responsive]="true" 
                styleClass="p-datatable-sm" #tabela *ngIf="showContacts">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: #F4F6F6;">Número</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-training let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ training.contactNumber }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                          No specifics requirements found
                        </td>
                    </tr>
                  </ng-template>            
            </p-table>  
            <br> 

            <!--Training-->
            <label style="color:#6a6b6b;">Formação</label> <span *ngIf="selectedEmployeeModal.employeeTrainings.length != 0"> ({{selectedEmployeeModal.employeeTrainings.length}})</span>
            <span (click)="showTrainings =! showTrainings ">
                <a *ngIf="!showTrainings" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> mostrar </a>
                <a *ngIf="showTrainings" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> fechar </a>
            </span>

            <p-table [value]="selectedEmployeeModal.employeeTrainings" [responsive]="true" 
                styleClass="p-datatable-sm" #tabela *ngIf="showTrainings">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: #F4F6F6;">Descrição</th>
                        <th style="background-color: #F4F6F6;">Início</th>
                        <th style="background-color: #F4F6F6;">Fim</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-training let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ training.description }}</td>
                      <td>{{ training.begin | date:'MMMM, y'}}</td>
                      <td>{{ training.end | date:'MMMM, y'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                          No specifics requirements found
                        </td>
                    </tr>
                  </ng-template>            
            </p-table>  
            <br> 

            <label style="color:#6a6b6b;">Histórico de salário</label> <span *ngIf="selectedEmployeeModal.wageHistories.length != 0"> ({{selectedEmployeeModal.wageHistories.length}})</span> 
            
            <span (click)="showWageHistory =! showWageHistory ">
                <a *ngIf="!showWageHistory" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> mostrar </a>
                <a *ngIf="showWageHistory" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> fechar </a>
            </span>

            <p-table [value]="selectedEmployeeModal.wageHistories" [responsive]="true" 
                styleClass="p-datatable-sm" #tabela *ngIf="showWageHistory">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: #F4F6F6;">Valor</th>
                        <th style="background-color: #F4F6F6;">Data</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-wage let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ wage.value }}</td>
                        <td>{{ wage.date | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                        Sem Avaliações
                        </td>
                    </tr>
                </ng-template>            
            </p-table>   

            <br>

            <label style="color:#6a6b6b;">Histórico de avaliação de desenpenho</label> <span *ngIf="selectedEmployeeModal.employeePerformanceEvaluations.length != 0"> ({{selectedEmployeeModal.employeePerformanceEvaluations.length}})</span>
            <span (click)="showEmployeePerformanceEvaluationHistory =! showEmployeePerformanceEvaluationHistory ">
                <a *ngIf="!showEmployeePerformanceEvaluationHistory" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> mostrar </a>
                <a *ngIf="showEmployeePerformanceEvaluationHistory" href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> fechar </a>
            </span>

            <p-table [value]="selectedEmployeeModal.employeePerformanceEvaluations" [responsive]="true" 
                styleClass="p-datatable-sm" #tabela *ngIf="showEmployeePerformanceEvaluationHistory">
                <ng-template pTemplate="header">
                    <tr>
                    <th style="background-color: #F4F6F6;">Trabalho em equipe</th>
                    <th style="background-color: #F4F6F6;">Comunicação</th>
                    <th style="background-color: #F4F6F6;">Pensamento estratégico</th>
                    <th style="background-color: #F4F6F6;">Orientação para qualidade</th>
                    <th style="background-color: #F4F6F6;">Categoria</th>
                    <th style="background-color: #F4F6F6;">Data</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-epe let-rowIndex="rowIndex">
                    <tr>
                    <td>{{ epe.teamWork }}</td>
                    <td>{{ epe.communication }}</td>
                    <td>{{ epe.strategicThought }}</td>
                    <td>{{ epe.qualityOrientation }}</td>
                    <td>{{ epe.category }}</td>
                    <td>{{ epe.date | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                        Sem Avaliações
                        </td>
                    </tr>
                </ng-template>            
            </p-table>

            <br>    

        </div> 
        
    </div>         
</p-dialog>

<!--Contacts-->
<p-dialog [header]="editingContact ? 'Edição Contato' : 'Novo Contato'" [(visible)]="showContactForm" [modal]="true" *ngIf="contact"> <!--*ngIf="contato" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmContact="ngForm" (ngSubmit)="confirmContact(frmContact)">
      <div class="col-12 p-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
          required [(ngModel)]="contact.contactNumber" #contatoNumero="ngModel" placeholder="Ex: 841234567"/>
      </div>
      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          required [(ngModel)]="contact.name" #contatoNome="ngModel" placeholder="Ex: Próprio ou Nome - irmã"/>
      </div>
      <div class="col-12 p-fluid">
        <button pButton type="submit" label="Confirmar" [disabled]="frmContact.invalid" style="height: 30px; margin-top: 1%;"></button>
      </div>
    </form>
</p-dialog>  

<!--Traning-->
<p-dialog [header]="editingTraining ? 'Edição Formação' : 'Nova Formação'" [(visible)]="showTrainingForm" [modal]="true" *ngIf="training"> <!--*ngIf="contato" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmTraining="ngForm" (ngSubmit)="confirmTraining(frmTraining)">
      <div class="col-12 p-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
          required [(ngModel)]="training.description" #contatoNumero="ngModel"/>
      </div>
      <div class="col-12 md-12 p-fluid">
        <label>Begin</label>
        <p-calendar class="p-inputtext-sm" name="begin" dateFormat="dd/mm/yy"
        [inputStyle]="{ 'width': '100px'}" [showIcon]="true" [showOnFocus]="false"
          [inline]="false" [readonlyInput]="false" 
          ngModel #begin="ngModel" [required]="true" [(ngModel)]="training.begin"></p-calendar>
      </div>
      <div class="col-12 md-12 p-fluid">
        <label>End</label>
        <p-calendar class="p-inputtext-sm" name="end" dateFormat="dd/mm/yy"
        [inputStyle]="{ 'width': '100px'}" [showIcon]="true" [showOnFocus]="false"
          [inline]="false" [readonlyInput]="false" 
          ngModel #end="ngModel" [required]="true" [(ngModel)]="training.end"></p-calendar>
      </div>
      <div class="col-12 p-fluid">
        <button pButton type="submit" label="Confirmar" [disabled]="frmTraining.invalid" style="height: 30px; margin-top: 1%;"></button>
      </div>
    </form>
</p-dialog>  
