
<h5 style="text-align: center;">Competências</h5>



<div class="p-inputgroup">
    <input [(ngModel)]="filter.name" name="designation" type="text" pInputText placeholder="Search" (ngModelChange)="getSkills()">        
</div>

<br>

<button (click)="onAddNewSkill()" pButton class="p-button-sm" label="Novo departamento +" style="height: 30px; width: 182px; background-color: #63c05a; border-style: none; margin-top: -5%;"></button>

<br>
<br>

<div>
    <p-dropdown [options]="orderPage" placeholder="Sort by..." [filter]="true"
      ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getSkills()"></p-dropdown>
</div>

<br>

<p-table [value]="skills" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" #table>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th> 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-skill>
        <tr>
            <td>{{ skill.id }}</td>
            <td>{{ skill.name }}</td>
            <td>
                <button pButton pTooltip="Edit" (click)="onEditSkill(skill)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #5b6063; border-color: #5b6063;"></button>&nbsp;
                <button pButton (click)="deletionConfirm(skill)" pTooltip="Delete" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #5b6063; border-color: #5b6063;"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<div style="display:inline; float: left; margin-top: 1%;">
    <p-selectButton [options]="sizePage" [(ngModel)]="filter.itemsPerPage" (onChange)="getSkills()"></p-selectButton> 
</div>

<p-dialog header="Skill {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #skillForm="ngForm" (ngSubmit)="save(skillForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Name</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name"
                ngModel #name="ngModel" required minlength="1" [(ngModel)]="skill.name">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="skillForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
              </div>
        </div>
      
    </form>
</p-dialog>