<div class="container">
    <h3>Formações</h3>

    <p-table [value]="trainings" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage"
        currentPageReportTemplate="Results: {{totalRecords}} of {{totalCompanyTrainings}}"
        [showCurrentPageReport]="true" [lazy]="true" [totalRecords]="totalRecords" styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton (click)="onAddNewTraining()" pRipple label="Novo" icon="pi pi-plus"
                    class="p-button-primmary mr-2"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Level or type" [(ngModel)]="filter.global"
                        (ngModelChange)="filterTrainings()" />
                </span>
                <button type="button" (click)="onFilter()" pButton pRipple icon="pi pi-filter" class="ml-auto"
                    pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">Tipo</th>
                <th style="background-color: #fff;">Nivel</th>
                <th style="background-color: #fff;">
                    Data
                    <span *ngIf="filter.sort ==='date,desc'" class="pi pi-sort-down"
                        style="margin-left: 2px; color: #1c80cf;"></span>
                    <span *ngIf="filter.sort ==='date,asc'" class="pi pi-sort-up"
                        style="margin-left: 2px; color: #1c80cf;"></span>
                </th>
                <th style="background-color: #fff;">Duração</th>
                <th style="background-color: #fff;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-training>
            <tr>
                <td>
                    <a href="javascript:;" (click)="onSelectTraining(training)">
                        {{ training.companyTrainingType.type }}
                    </a>
                </td>
                <td>{{ training.companyTrainingType.level }}</td>
                <td>{{ training.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{ training.duration }}</td>
                <td style="width: 180px;">
                    <span class="p-buttonset mr-auto">
                        <button pButton pTooltip="View" (click)="onSelectTraining(training)" tooltipPosition="top"
                            type="button" icon="pi pi-eye" style="height: 30px;"></button>
                        <button pButton pTooltip="Edit" (click)="onEditTraining(training)" tooltipPosition="top"
                            type="button" icon="pi pi-pencil"
                            style="background-color: #fff; color: #1c80cf; border-color: #1c80cf; height: 30px;"></button>
                        <button pButton pTooltip="Delete" (click)="deletionConfirm(training)" tooltipPosition="top"
                            type="button" icon="pi pi-trash"
                            style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">
                    <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span>
                    <span *ngIf="!showLoading">No trainings found </span>
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                    <a href="javascript:;">
                        <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="filterTrainings(0)" pTooltip="Refresh"
                            class="pi pi-refresh"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!--View-->
<p-dialog header="{{selectedCompanyTrainingModal.duration}}" [(visible)]="displayModal" [modal]="true"
    [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">

    <div>

        <div class="col-12 p-fluid">
            <li class="dialog-info-li"><i class="dialog-info-i"><span
                        style="color:#545555;font-weight:bold">Nivel</span>: <span
                        style="color:#08080871;font-weight:bold">{{selectedCompanyTrainingModal.companyTrainingType.level}}</span></i>
            </li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span
                        style="color:#545555;font-weight:bold">Tipo</span>: <span
                        style="color:#08080871;font-weight:bold">{{selectedCompanyTrainingModal.companyTrainingType.type}}</span></i>
            </li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span
                        style="color:#545555;font-weight:bold">Duração</span>: <span
                        style="color:#08080871;font-weight:bold">{{selectedCompanyTrainingModal.duration}}</span></i>
            </li>
            <li class="dialog-info-li"><i class="dialog-info-i"><span
                        style="color:#545555;font-weight:bold">Data</span>: <span
                        style="color:#08080871;font-weight:bold">{{selectedCompanyTrainingModal.date | date:
                        'dd/MM/yyyy' }}</span></i></li>
        </div>

        <a href="javascript:;" style="text-decoration: none; margin-top: 4%;"
            (click)="showProjectGoalsView = !showProjectGoalsView">
            <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                <i *ngIf="!showProjectGoalsView" class="pi pi-angle-right" style="margin: 13px;"></i>
                <i *ngIf="showProjectGoalsView" class="pi pi-angle-down" style="margin: 13px;"></i>
                Objectivos
            </div>
        </a>

        <!--Goals-->
        <div *ngIf="showProjectGoalsView" class="col-12 p-fluid" style="margin-top: 2%; background-color: #fff">
            <p-table [value]="selectedCompanyTrainingModal.companyTrainingType.companyTrainingTypeGoals"
                [responsive]="true" styleClass="p-datatable-sm" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-goal let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ goal.designation }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                            Sem habilidades adicionadas
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
        </div>

        <a href="javascript:;" style="text-decoration: none; margin-top: 4%;"
            (click)="showProjectMembersView = !showProjectMembersView">
            <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                <i *ngIf="!showProjectMembersView" class="pi pi-angle-right" style="margin: 13px;"></i>
                <i *ngIf="showProjectMembersView" class="pi pi-angle-down" style="margin: 13px;"></i>
                Participntes
            </div>
        </a>

        <div *ngIf="showProjectMembersView" class="col-12 p-fluid" style="margin-top: 2%; background-color: #fff">
            <p-table [value]="selectedCompanyTrainingModal.employees" selectionMode="single" [responsive]="true"
                styleClass="p-datatable-sm" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: #FFF;">Nome</th>
                        <th style="background-color: #FFF;">Cargo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="employee">
                        <td>{{ employee.person.firstName }} {{ employee.person.lastName }}</td>
                        <td>{{ employee.position.name }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">
                            Sem participntes na formação
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
        </div>
    </div>
</p-dialog>


<p-dialog header="Treinamento {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true"
    [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #projectStatusForm="ngForm" (ngSubmit)="save(projectStatusForm)">
        <div>
            <div class="col-12 p-fluid">
                <label>Tipo</label>
                <p-dropdown class="p-inputtext-sm" [options]="companyTrainingTypes" placeholder="Selecione"
                    name="companyTrainingType" #companyTrainingType ngModel
                    (onChange)="findTrainingById(companyTraining.companyTrainingType.id)"
                    [(ngModel)]="companyTraining.companyTrainingType.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 1%;">
                <label>Nivel</label>
                <input pInputText disabled class="p-inputtext-sm" type="text" name="type" ngModel #type="ngModel"
                    required minlength="1" [(ngModel)]="companyTrainingTypeById.level">
            </div>
            <div class="col-12 md-12 p-fluid" style="margin-top: 1%;">
                <label>Data</label>
                <p-calendar class="p-inputtext-sm" name="date" dateFormat="dd/mm/yy" [inputStyle]="{ 'width': '100px'}"
                    [showIcon]="true" [showOnFocus]="false" [inline]="false" [readonlyInput]="false" ngModel
                    #date="ngModel" [required]="true" [(ngModel)]="companyTraining.date"></p-calendar>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 1%;">
                <label>Duração</label>
                <input pInputText class="p-inputtext-sm" type="text" name="duration" ngModel #duration="ngModel"
                    required minlength="1" [(ngModel)]="companyTraining.duration">
            </div>

            <a href="javascript:;" style="text-decoration: none; margin-top: 4%;"
                (click)="showProjectMembers = !showProjectMembers">
                <div style="background-color: #53595c; color: #fff; margin: 7px; height: 50px; font-size: 13px; ">
                    <i *ngIf="!showProjectMembers" class="pi pi-angle-right" style="margin: 13px;"></i>
                    <i *ngIf="showProjectMembers" class="pi pi-angle-down" style="margin: 13px;"></i>
                    Participntes
                </div>
            </a>

            <div *ngIf="showProjectMembers" class="col-12 p-fluid" style="margin-top: 2%; background-color: #fff">

                <p-multiSelect [options]="employees" [(ngModel)]="selectedEmployees" name="employees"
                    optionLabel="person.firstName"></p-multiSelect>
                <br>
                <p-table [value]="companyTraining.employees" [responsive]="true" styleClass="p-datatable-sm" #tabela>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: #FFF;">Nome</th>
                            <th style="background-color: #FFF;">Cargo</th>
                            <th style="background-color: #FFF;" class="col-valor-header"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="employee">
                            <td>{{ employee.person.firstName }} {{ employee.person.lastName }}</td>
                            <td>{{ employee.position.name }}</td>
                            <td class="col-acoes">
                                <span class="p-buttonset">
                                    <a style="margin-left: 3px;" href="javascript:;"
                                        (click)="removeMember(rowIndex)"><p-tag [severity]="'danger'">
                                            remove</p-tag></a>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">
                                Sem membros na formação
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
            </div>

            <div class="col-12" style="margin-top: 2%;">
                <button pButton type="submit" [disabled]="projectStatusForm.invalid"
                    style="display:inline; float: right;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>
                </button>
            </div>
        </div>

    </form>
</p-dialog>

<!--Filtrar-->
<p-dialog [header]=" 'Filtros' " [(visible)]="displayModalFilter" [style]="{width: '33vw'}" [modal]="true">

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Itens por página</label>
                <p-dropdown [options]="sizePage" placeholder="Sort by..." ngModel name="itemsPerPage"
                    [(ngModel)]="filter.itemsPerPage" (onChange)="filterTrainings()"></p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Ordenação</label>
                <p-dropdown [options]="orderPage" placeholder="Sort by..." ngModel name="sort" [(ngModel)]="filter.sort"
                    (onChange)="filterTrainings()"></p-dropdown>
            </div>
        </div>

        <div class="col-12 p-fluid">
            <label>Nivel</label>
            <p-dropdown class="p-inputtext-sm" [options]="companyTrainingTypes" placeholder="Selecione"
                name="companyTrainingType" #companyTrainingType ngModel [(ngModel)]="filter.companyTrainingTypeLevel"
                (onChange)="findTrainingById(filter.companyTrainingTypeLevel)"
                (onChange)="filterTrainings()"></p-dropdown>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <label>Tipo</label>
            <input pInputText disabled class="p-inputtext-sm" type="text" name="type" ngModel #type="ngModel" required
                minlength="1" [(ngModel)]="companyTrainingTypeById.type">
        </div>

        <div class="col-12 md-12 p-fluid" style="margin-top: 2%;">
            <label>Data</label>
            <p-calendar class="p-inputtext-sm" name="date" dateFormat="dd/mm/yy" [inputStyle]="{ 'width': '100px'}"
                [showIcon]="true" [showOnFocus]="false" [inline]="false" [readonlyInput]="false" ngModel #date="ngModel"
                [required]="true" [(ngModel)]="filter.date" (ngModelChange)="filterTrainings()"></p-calendar>
        </div>

        <div class="col-12 p-fluid" style="margin-top: 2%;">
            <button pButton type="submit" label="Reset" style="height: 30px; margin-top: 1%;"></button>
        </div>

    </div>

</p-dialog>