<div class="container">
    <h3>Locais de trabalho</h3>

    <p-table [value]="locations" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage"
        [lazy]="true" [totalRecords]="totalRecords" styleClass="p-datatable-sm" #table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton (click)="onAddNewLocation()" pRipple label="Novo" icon="pi pi-plus"
                    class="p-button-primmary mr-2"></button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="filter.name" name="name" pInputText type="text" placeholder="Search"
                        (ngModelChange)="getLocations()" />
                </span>
                <p-dropdown style="margin-left: 2%; margin-right: 2%;" [options]="orderPage" placeholder="Sort by..."
                    ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getLocations()"></p-dropdown>
                <p-dropdown style="margin-right: 2%;" [options]="sizePage" placeholder="Sort by..." ngModel
                    name="itemsPerPage" [(ngModel)]="filter.itemsPerPage" (onChange)="getLocations()"></p-dropdown>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: #fff;">Nome</th>
                <th style="background-color: #fff;">Country</th>
                <th style="background-color: #fff;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location>
            <tr>
                <td>
                    <a href="javascript:;" (click)="onSelectLocation(location)">
                        {{ location.name }}
                    </a>
                </td>
                <td>{{ location.country.name }}</td>
                <td style="width: 180px;">
                    <button pButton pTooltip="View" (click)="onSelectLocation(location)" tooltipPosition="top"
                        type="button" icon="pi pi-eye" style="height: 30px;"></button>&nbsp;
                    <button pButton pTooltip="Edit" (click)="onEditLocation(location)" tooltipPosition="top"
                        type="button" icon="pi pi-pencil"
                        style="background-color: #fff; color: #1c80cf; border-color: #1c80cf; height: 30px;"></button>&nbsp;
                    <button pButton (click)="deletionConfirm(location)" pTooltip="Delete" tooltipPosition="top"
                        type="button" icon="pi pi-trash"
                        style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">
                    <span *ngIf="showLoading" style="color:#1c80cf;">Loading... </span>
                    <span *ngIf="!showLoading">No training types found </span>
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                    <a href="javascript:;">
                        <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="getLocations(0)" pTooltip="Refresh"
                            class="pi pi-refresh"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog header="Location {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true"
    [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #locationForm="ngForm" (ngSubmit)="save(locationForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Country</label>
                <p-dropdown class="p-inputtext-sm" placeholder="Selecione..." [filter]="true" [options]="countries"
                    [(ngModel)]="location.country.id" name="country" #country="ngModel" [required]=true>
                </p-dropdown>
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Name</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name" ngModel #name="ngModel" required
                    minlength="1" [(ngModel)]="location.name">
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Descrição</label>
                <input pInputText class="p-inputtext-sm" type="text" name="description" ngModel #description="ngModel"
                    required minlength="1" [(ngModel)]="location.description">
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <button pButton type="submit" [disabled]="locationForm.invalid" class="p-button-sm"
                    style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>
                </button>
            </div>
        </div>

    </form>
</p-dialog>

<!--Show -->
<p-dialog header="{{selectedLocationModal.name}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}"
    [draggable]="false" [resizable]="false">
    <div class="formgrid grid">
        <div class="col-12 p-fluid">
            <label>Nome</label>: <span> {{selectedLocationModal.name}}</span>
        </div>
        <div class="col-12 p-fluid">
            <label>Descrição</label>: <span> {{selectedLocationModal.description}}</span>
        </div>
        <div class="col-12 p-fluid">
            <label>País</label>: <span> {{selectedLocationModal.country.name}}</span>
        </div>
    </div>
</p-dialog>