
<h5 style="text-align: center;">Posições</h5>

<div class="p-inputgroup">
    <input [(ngModel)]="filter.name" name="designation" type="text" pInputText placeholder="Search" (ngModelChange)="getPositions()">        
</div>

<br>

<button (click)="onAddNewPosition()" pButton class="p-button-sm" label="Nova posição +" style="height: 30px; width: 182px; background-color: #63c05a; border-style: none; margin-top: -5%;"></button>

<br>
<br>

<div>
    <p-dropdown [options]="orderPage" placeholder="Sort by..." [filter]="true"
      ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getPositions()"></p-dropdown>
</div>

<br>

<p-table [value]="positions" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" #table>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Grupo Funcional</th>
            <th>Missão</th>
            <th>Idade</th>
            <th>Lingua</th>
            <th>Departamento</th>
            <th>Local de trabalho</th>
            <th>Cluster Administrativo</th>
            <th>Ações</th> 
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-position>
        <tr>
            <td>{{ position.id }}</td>
            <td>{{ position.name }}</td>
            <td>{{ position.functionalGroup }}</td>
            <td>{{ position.mission }}</td>
            <td>{{ position.age }}</td>
            <td>{{ position.language }}</td>
            <td>{{ position.department.name }}</td>
            <td>{{ position.workplace.name }}</td>
            <td>{{ position.administrativeCluster.name }}</td>
            <td>
                <button pButton pTooltip="Edit" (click)="onEditDepartment(position)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #5b6063; border-color: #5b6063;"></button>&nbsp;
                <button pButton (click)="deletionConfirm(position)" pTooltip="Delete" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #5b6063; border-color: #5b6063;"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<div style="display:inline; float: left; margin-top: 1%;">
    <p-selectButton [options]="sizePage" [(ngModel)]="filter.itemsPerPage" (onChange)="getPositions()"></p-selectButton> 
</div>

<p-dialog header="Posição {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '60vw', height: '70vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #positionForm="ngForm" (ngSubmit)="save(positionForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Name</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name"
                    ngModel #name="ngModel" required minlength="1" [(ngModel)]="position.name">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Functional Group</label>
                <input pInputText class="p-inputtext-sm" type="text" name="functionalGroup"
                    ngModel #functionalGroup="ngModel" required minlength="1" [(ngModel)]="position.functionalGroup">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Mission</label>
                <input pInputText class="p-inputtext-sm" type="text" name="mission"
                    ngModel #mission="ngModel" required minlength="1" [(ngModel)]="position.mission">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Age</label>
                <input pInputText class="p-inputtext-sm" type="number" name="age"
                    ngModel #age="ngModel" required minlength="1" [(ngModel)]="position.age">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Language</label>
                <input pInputText class="p-inputtext-sm" type="text" name="language"
                    ngModel #language="ngModel" required minlength="1" [(ngModel)]="position.language">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Department</label>
                <p-dropdown class="p-inputtext-sm"  [options]="departments" placeholder="Selecione" [filter]="true"
                    name="department" #department ngModel [(ngModel)]="position.department.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Cluster Administrativo</label>
                <p-dropdown class="p-inputtext-sm"  [options]="administrativeClusters" placeholder="Selecione" [filter]="true"
                    name="administrativeCluster" #administrativeCluster ngModel [(ngModel)]="position.administrativeCluster.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Local de trabalho</label>
                <p-dropdown class="p-inputtext-sm"  [options]="workplaces" placeholder="Selecione" [filter]="true"
                    name="workplace" #workplace ngModel [(ngModel)]="position.workplace.id"></p-dropdown>
            </div>

            <!--Main Responsibilities-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Main Responsibilities</label>
                <p-table [value]="position.mainResponsibilities" selectionMode="single" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-mr let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="mr">
                      <td>{{ mr.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <button pButton pTooltip="Editar" (click)="getReadEditintMainResponsability(mr, rowIndex)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #5b6063; border: none;"></button>
                          <button pButton pTooltip="Excluir" (click)="removeMainResponsability(rowIndex)" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #5b6063; border: none;"></button>
                        </span>
                        </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No main responsibilities found
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>   
            </div> 

            <div class="col-12 p-fluid">
                <button pButton class="p-button-raised p-button-text p-button-sm" type="button" label="Nova responsabilidade" (click)="openAddNewMainResponsabilityModal()" style="height: 30px; margin-top: 1%; color: #6662cf;"></button>
            </div>  

            <!--Specific Requirements-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Requisitos especificos</label>
                <p-table [value]="position.specificRequirements" selectionMode="single" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-sr let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="sr">
                      <td>{{ sr.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <button pButton pTooltip="Editar" (click)="getReadEditSpecificRequirement(sr, rowIndex)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #5b6063; border: none;"></button>
                          <button pButton pTooltip="Excluir" (click)="removeSpecificRequirement(rowIndex)" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #5b6063; border: none;"></button>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No specifics requirements found
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>   
            </div> 

            <div class="col-12 p-fluid">
                <button pButton class="p-button-raised p-button-text p-button-sm" type="button" label="Novo requisito" (click)="openAddNewSpecificRequirementModal()" style="height: 30px; margin-top: 1%; color: #6662cf;"></button>
            </div>

            <!--Training-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Formação</label>
                <p-table [value]="position.training" selectionMode="single" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-training let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="training">
                      <td>{{ training.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <button pButton pTooltip="Editar" (click)="getReadTraining(training, rowIndex)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #5b6063; border: none;"></button>
                          <button pButton pTooltip="Excluir" (click)="removeTraining(rowIndex)" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #5b6063; border: none;"></button>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No trainings found
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>   
            </div> 

            <div class="col-12 p-fluid">
                <button pButton class="p-button-raised p-button-text p-button-sm" type="button" label="Nova formação" (click)="openAddNewTrainingModal()" style="height: 30px; margin-top: 1%; color: #6662cf;"></button>
            </div>

            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="positionForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
              </div>
        </div>
      
    </form>
</p-dialog>

<!--Modal add main responsibilities-->
<p-dialog [header]="editingMainResponsability ? 'Edit mr' : 'New mr'" [(visible)]="showMainResponsibilityForm" [modal]="true" *ngIf="mainResponsibility"> <!--*ngIf="mainResponsibility" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmMainResponsibility="ngForm" (ngSubmit)="confirmMainResponsability(frmMainResponsibility)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="mainResponsibility.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmMainResponsibility.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #6662cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>

<!--Modal add requirements-->
<p-dialog [header]="editingSpecificRequirement ? 'Edit mr' : 'New mr'" [(visible)]="showSpecificRequirementForm" [modal]="true" *ngIf="specificRequirement"> <!--*ngIf="mainResponsibility" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmSpecificRequirement="ngForm" (ngSubmit)="confirmSpecificRequirement(frmSpecificRequirement)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="specificRequirement.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmSpecificRequirement.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #6662cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>

<!--Training-->
<p-dialog [header]="editingTraining ? 'Edit mr' : 'New mr'" [(visible)]="showTrainingForm" [modal]="true" *ngIf="training"> <!--*ngIf="mainResponsibility" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmTraining="ngForm" (ngSubmit)="confirmTraining(frmTraining)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="training.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmTraining.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #6662cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>