
<div class="container">
  <h5 style="text-align: center;">Cargos</h5>

  <br>

  <p-table [value]="positions" [paginator]="true" (onLazyLoad)="onChangePage($event)" [rows]="filter.itemsPerPage" [lazy]="true" [totalRecords]="totalRecords" #table>
    <ng-template pTemplate="caption">
      <div class="flex">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input [(ngModel)]="filter.name" name="name" pInputText type="text" placeholder="Search" (ngModelChange)="getPositions()"/>
          </span>
          <p-dropdown style="margin-left: 2%; margin-right: 2%;" [options]="orderPage" placeholder="Sort by..." [filter]="true"
          ngModel name="sort" [(ngModel)]="filter.sort" (onChange)="getPositions()"></p-dropdown>
          <button (click)="onAddNewPosition()" pButton icon="pi pi-plus" style="background-color: #63c05a; border-style: none;"></button> 
          <button type="button" pButton pRipple icon="pi pi-filter"  class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
      </div>
    </ng-template>  
    <ng-template pTemplate="header">
          <tr>
              <th style="background-color: #fff;">Nome</th>
              <th style="background-color: #fff;">Departamento</th>
              <th style="background-color: #fff;">Local de trabalho</th>
              <th style="background-color: #fff;">Ações</th> 
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-position>
          <tr>
              <td>{{ position.name }}</td>
              <td>{{ position.department.name }}</td>
              <td>{{ position.workplace.name }}</td>
              <td>
                <button pButton pTooltip="Edit" (click)="onSelectPosition(position)" tooltipPosition="top" type="button" icon="pi pi-eye" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf;"></button>&nbsp;
                  <button pButton pTooltip="Edit" (click)="onEditPosition(position)" tooltipPosition="top" type="button" icon="pi pi-pencil" style="background-color: #fff; color: #1c80cf; border-color: #1c80cf;"></button>&nbsp;
                  <button pButton (click)="deletionConfirm(position)" pTooltip="Delete" tooltipPosition="top" type="button" icon="pi pi-times" style="background-color: #fff; color: #e96969; border-color: #e96969;"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>

  <div style="display:inline; float: left; margin-top: 1%;">
      <p-selectButton [options]="sizePage" [(ngModel)]="filter.itemsPerPage" (onChange)="getPositions()"></p-selectButton> 
  </div>

</div>

<p-dialog header="Cargo {{ editing ? '(editando)' : '(novo)' }}" [(visible)]="displayModalSave" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #positionForm="ngForm" (ngSubmit)="save(positionForm)">
        <div class="formgrid grid">
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Nome</label>
                <input pInputText class="p-inputtext-sm" type="text" name="name"
                    ngModel #name="ngModel" required minlength="1" [(ngModel)]="position.name">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Grupo funcional</label>
                <input pInputText class="p-inputtext-sm" type="text" name="functionalGroup"
                    ngModel #functionalGroup="ngModel" required minlength="1" [(ngModel)]="position.functionalGroup">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Missão</label>
                <input pInputText class="p-inputtext-sm" type="text" name="mission"
                    ngModel #mission="ngModel" required minlength="1" [(ngModel)]="position.mission">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Salário Minimo</label>
              <input pInputText class="p-inputtext-sm" type="number" name="minimumWage"
                  ngModel #minimumWage="ngModel" required minlength="1" [(ngModel)]="position.minimumWage">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Salário Máximo</label>
              <input pInputText class="p-inputtext-sm" type="number" name="maximumWage"
                  ngModel #maximumWage="ngModel" required minlength="1" [(ngModel)]="position.maximumWage">  
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Department</label>
              <p-dropdown class="p-inputtext-sm"  [options]="departments" placeholder="Selecione" [filter]="true"
                  name="department" #department ngModel [(ngModel)]="position.department.id"></p-dropdown>
            </div>
            <!--
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Reporter hierarquico</label>
              <p-dropdown class="p-inputtext-sm"  [options]="employees" placeholder="Selecione" [filter]="true"
                  name="hierarchicalReporter" #hierarchicalReporter ngModel [(ngModel)]="position.hierarchicalReporter.id"></p-dropdown>
            </div>
            -->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Local de trabalho</label>
              <p-dropdown class="p-inputtext-sm"  [options]="workplaces" placeholder="Selecione" [filter]="true"
                  name="workplace" #workplace ngModel [(ngModel)]="position.workplace.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Cluster Administrativo</label>
              <p-dropdown class="p-inputtext-sm"  [options]="administrativeClusters" placeholder="Selecione" [filter]="true"
                  name="administrativeCluster" #administrativeCluster ngModel [(ngModel)]="position.administrativeCluster.id"></p-dropdown>
            </div>
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Idade</label>
                <input pInputText class="p-inputtext-sm" type="number" name="age"
                    ngModel #age="ngModel" required minlength="1" [(ngModel)]="position.age">  
            </div>

            <!--Main Responsibilities-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Pricipais Responsibilities | </label> <span (click)="openAddNewMainResponsabilityModal()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="position.mainResponsibilities" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <!--
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                      -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-mr let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ mr.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                            <span (click)="getReadEditintMainResponsability(mr, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                            <span (click)="removeMainResponsability(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                        </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No main responsibilities found
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>   
            </div> 

            <!--Specific Requirements-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Requisitos especificos | </label> <span (click)="openAddNewSpecificRequirementModal()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="position.specificRequirements" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <!--
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                      -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-sr let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ sr.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                            <span (click)="getReadEditSpecificRequirement(sr, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                            <span (click)="removeSpecificRequirement(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No specifics requirements found
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>   
            </div> 

            <!--Training-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Formação | </label><span (click)="openAddNewTrainingModal()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="position.training" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <!--
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                      -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-training let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ training.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                            <span (click)="getReadTraining(training, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                            <span (click)="removeTraining(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No trainings found
                        </td>
                      </tr>
                  </ng-template>            
                </p-table>   
            </div> 

            <!--Professional Experience-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
                <label>Experiencia Professional | </label> <span (click)="openAddNewProfessionalExperienceModal()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
                <p-table [value]="position.professionalExperience" [responsive]="true" 
                    styleClass="p-datatable-sm" #tabela >
                  <ng-template pTemplate="header">
                    <tr>
                      <!--
                      <th style="background-color: #F4F6F6;">Designation</th>
                      <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                      -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-pf let-rowIndex="rowIndex">
                    <tr>
                      <td>{{ pf.designation }}</td>
                      <td class="col-acoes">
                        <span class="p-buttonset">
                          <span (click)="getReadProfessionalExperience(pf, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                          <span (click)="removeProfessionalExperience(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                        </span>
                      </td>                     
                    </tr>       
                    
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="10">
                          No Professional Experience found
                        </td>
                      </tr>
                  </ng-template>   
                 
                </p-table>   
            </div>  
            
            <!--Benefits-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Beneficios | </label> <span (click)="openAddNewBenefitModal()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
              <p-table [value]="position.benefits" [responsive]="true" 
                  styleClass="p-datatable-sm" #tabela >
                <ng-template pTemplate="header">
                  <tr>
                    <!--
                    <th style="background-color: #F4F6F6;">Designation</th>
                    <th style="background-color: #F4F6F6;" class="col-valor-header"></th>
                    -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-b let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ b.designation }}</td>
                    <td class="col-acoes">
                      <span class="p-buttonset">
                        <span (click)="getReadBenefit(b, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                        <span (click)="removeBenefit(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                      </span>
                    </td>                     
                  </tr>       
                  
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="10">
                        No benefit found
                      </td>
                    </tr>
                </ng-template>   
               
              </p-table>   
            </div> 

            <!--Languages-->
            <div class="col-12 p-fluid" style="margin-top: 2%;">
              <label>Linguas | </label> <span (click)="openAddNewLanguageModal()"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> adicionar + </a></span>
              <p-table [value]="position.languages" [responsive]="true" 
                  styleClass="p-datatable-sm" #tabela >
                <ng-template pTemplate="header">
                  <tr *ngIf="position.languages.length > 0">
                    <th style="background-color: #FFF;">Nome</th>
                    <th style="background-color: #FFF;">Escrita</th>
                    <th style="background-color: #FFF;">Leitura</th>
                    <th style="background-color: #FFF;" class="col-valor-header"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-l let-rowIndex="rowIndex">
                  <tr >
                    <td>{{ l.name }}</td>
                    <td>
                      <span *ngIf="l.writeLevel == 'FLUENT'"> Fluente </span>
                      <span *ngIf="l.writeLevel == 'REASONABLE'"> Razoável </span>
                    </td>
                    <td>
                      <span *ngIf="l.readLevel == 'FLUENT'"> Fluente </span>
                      <span *ngIf="l.readLevel == 'REASONABLE'"> Razoável </span>
                    </td>
                    <td class="col-acoes">
                      <span class="p-buttonset">
                        <span (click)="getReadLanguage(l, rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #1c80cf;" tooltipPosition="top"> editar </a></span>&nbsp;
                        <span (click)="removeLanguage(rowIndex)"><a href="javascript:;" style="text-decoration: none; color: #e96969;" tooltipPosition="top"> remover </a></span>
                      </span>
                    </td>                     
                  </tr>       
                  
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="10">
                        No language found
                      </td>
                    </tr>
                </ng-template>   
               
              </p-table>   
            </div> 

            <div class="col-12 p-fluid" style="margin-top: 2%;"> 
                <button pButton type="submit" [disabled]="positionForm.invalid" class="p-button-sm" style="height: 30px;">
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">{{ editing ? 'save changes' : 'save' }}</span>      
                  </button>
            </div>
        </div>
      
    </form>
</p-dialog>


<!--Modal add main responsibilities-->
<p-dialog [header]="editingMainResponsability ? 'Editar principais responsabilidades' : 'Nova responsabilidades'" [(visible)]="showMainResponsibilityForm" [modal]="true" *ngIf="mainResponsibility"> <!--*ngIf="mainResponsibility" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmMainResponsibility="ngForm" (ngSubmit)="confirmMainResponsability(frmMainResponsibility)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="mainResponsibility.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmMainResponsibility.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #1c80cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>

<!--Modal add requirements-->
<p-dialog [header]="editingSpecificRequirement ? 'Editar requisito especifico' : 'Novo'" [(visible)]="showSpecificRequirementForm" [modal]="true" *ngIf="specificRequirement"> <!--*ngIf="mainResponsibility" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmSpecificRequirement="ngForm" (ngSubmit)="confirmSpecificRequirement(frmSpecificRequirement)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="specificRequirement.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmSpecificRequirement.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #1c80cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>

<!--Training-->
<p-dialog [header]="editingTraining ? 'Editar formação' : 'Nova formação'" [(visible)]="showTrainingForm" [modal]="true" *ngIf="training"> <!--*ngIf="mainResponsibility" exibir o modal se tiver contato. Lembrar que o metodo prepararNovoContato abri o modal e em seguida inicializa o contato-->
    <form #frmTraining="ngForm" (ngSubmit)="confirmTraining(frmTraining)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="training.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmTraining.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #1c80cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>

<!--Professional Experience-->
<p-dialog [header]="editingProfessionalExperience ? 'Editar experiência profissional' : 'Nova experiência profissional'" [(visible)]="showProfessionalExperienceForm" [modal]="true" *ngIf="professionalExperience">
    <form #frmProfessionalExperience="ngForm" (ngSubmit)="confirmProfessionalExperience(frmProfessionalExperience)"> 
      <div class="col-12 p-fluid">
        <label>Designation</label>
        <input pInputText type="text" name="designation"
          required [(ngModel)]="professionalExperience.designation" #designation="ngModel"/>
      </div>
      <div class="col-12 p-fluid">
        <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmProfessionalExperience.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #1c80cf; border-style: none;"></button>
      </div>
    </form>
</p-dialog>

<!--Benefits-->
<p-dialog [header]="editingBenefit ? 'Editar beneficio' : 'Nova beneficio'" [(visible)]="showBenefitsForm" [modal]="true" *ngIf="benefit"> 
  <form #frmBenefit="ngForm" (ngSubmit)="confirmBenefit(frmBenefit)"> 
    <div class="col-12 p-fluid">
      <label>Designation</label>
      <input pInputText type="text" name="designation"
        required [(ngModel)]="benefit.designation" #designation="ngModel"/>
    </div>
    <div class="col-12 p-fluid">
      <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmBenefit.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #1c80cf; border-style: none;"></button>
    </div>
  </form>
</p-dialog>

<!--languages-->
<p-dialog [header]="editingLanguage ? 'Editar beneficio' : 'Nova beneficio'" [(visible)]="showLanguagesForm" [modal]="true" *ngIf="language"> 
  <form #frmLanguage="ngForm" (ngSubmit)="confirmLanguage(frmLanguage)"> 
    <div class="col-12 p-fluid">
      <label>Designation</label>
      <input pInputText type="text" name="name"
        required [(ngModel)]="language.name" #name="ngModel"/>
    </div>
    <div class="col-12 p-fluid" style="margin-top: 2%;">
      <label>Escrita</label>
      <p-dropdown class="p-inputtext-sm" [options]="languageWriteSpeakLevel" placeholder="Selecione" [filter]="true"
          name="writeLevel" #writeLevel ngModel [(ngModel)]="language.writeLevel"></p-dropdown>
    </div>
    <div class="col-12 p-fluid" style="margin-top: 2%;">
      <label>Leitura</label>
      <p-dropdown class="p-inputtext-sm"  [options]="languageWriteSpeakLevel" placeholder="Selecione" [filter]="true"
          name="readLevel" #readLevel ngModel [(ngModel)]="language.readLevel"></p-dropdown>
    </div>
    <div class="col-12 p-fluid">
      <button style="margin-top: 10%;" pButton type="button" label="Confirmar" type="submit"  [disabled]="frmLanguage.invalid" class="p-button-info p-button-sm" style="height: 30px; background-color: #1c80cf; border-style: none;"></button>
    </div>
  </form>
</p-dialog>

<!--Show -->
<p-dialog header="{{selectedPositionModal.name}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}" [draggable]="false" [resizable]="false">
  <!--Employees view-->
  <div class="formgrid grid">
      <div class="col-12 p-fluid">
          <label>Funcionários com este cargo</label> <span *ngIf="selectedPositionModal.employees.length != 0"> ({{selectedPositionModal.employees.length}})</span>
          <p-table [value]="selectedPositionModal.employees" [responsive]="true" 
              styleClass="p-datatable-sm" #tabela >
          <ng-template pTemplate="header">
              <tr>
                <th style="background-color: #F4F6F6;">Nome</th>
                <th style="background-color: #F4F6F6;">Departamento</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
              <tr>
                <td>{{ employee.name }}</td>
                <td>{{ selectedPositionModal.department.name }}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="10">
                  Sem funcionários
                  </td>
              </tr>
          </ng-template>            
          </p-table>   
      </div> 
      
  </div>         
</p-dialog>

